@model Nucleus.Web.ViewModels.Admin.SystemIndex
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Extensions
<div class="System d-flex flex-column h-100">
  <h1 class="nucleus-control-panel-heading">System</h1>

  <Tab>
    <TabItem target="#system-information" caption="System Information" active="true"></TabItem>
    <TabItem target="#system-activity" caption="Activity"></TabItem>
    @if (Model.WebServerInformation != null && Model.WebServerInformation.Values.Any())
    {
      <TabItem target="#system-webserver" caption="Web Server"></TabItem>
    }
    @*<TabItem target="#system-configuration" caption="Configuration"></TabItem>*@
    <TabItem target="#system-database" caption="Database"></TabItem>
    <TabItem target="#system-logs" caption="Logs"></TabItem>
    <TabItem target="#system-cache" caption="Cache"></TabItem>
    <TabItem target="#system-internals" caption="Loaded Extensions"></TabItem>
    <TabItem target="#system-about" caption="About"></TabItem>
  </Tab>

  <TabContent>
    <TabPanel id="system-information" active="true">
      <table class="table table-striped table-sm headers-column">
        <tbody>
          <tr>
            <th scope="row">Product</th>
            <td>@Model.Product @Model.Version</td>
          </tr>
          @* 
            - Moved to About tab
            <tr>
            <th scope="row">Copyright</th>
            <td>@Model.Copyright</td>
          </tr> 
          *@
          <tr>
            <th scope="row">Server</th>
            <td>@Model.Server</td>
          </tr>
          <tr>
            <th scope="row">.NET Version</th>
            <td>@Model.Framework</td>
          </tr>
          <tr>
            <th scope="row">.NET Environment Name</th>
            <td>@Model.EnvironmentName</td>
          </tr>
          <tr>
            <th scope="row">Operating System</th>
            <td>@Model.OperatingSystem</td>
          </tr>
          <tr>
            <th scope="row">Operating System User</th>
            <td>@Model.OperatingSystemUser</td>
          </tr>
          <tr>
            <th scope="row">Process Start Time</th>
            <td>@Model.StartTime.FormatDate(this.Context.Request.GetUserTimeZone()) [UTC @this.Context.Request.GetUserTimeZone().BaseUtcOffset.FormatTimeSpan(FormatExtensions.TimespanFormats.TimeOffset)] (@Model.Uptime)</td>
          </tr>
          <tr>
            <th scope="row">Server Time</th>
            <td>@DateTime.UtcNow.FormatDate(this.Context.Request.GetUserTimeZone()) [UTC @this.Context.Request.GetUserTimeZone().BaseUtcOffset.FormatTimeSpan(FormatExtensions.TimespanFormats.TimeOffset)]</td>
          </tr>
          <tr>
            <th scope="row">CPU Used</th>
            <td>@Model.CpuUsedPercentage.ToString("0.00")%</td>
          </tr>
          <tr>
            <th scope="row">Memory Used</th>
            <td>@Model.MemoryUsedPercentage.ToString("0.00")%</td>
          </tr>
        </tbody>
      </table>

      @using (Html.BeginAreaForm("Restart", "System", "Admin", FormMethod.Post, new { @class = "mt-4" }))
      {
        <button type="submit" class="btn btn-danger" data-target=".System" data-confirm="This will shut down Nucleus. In Azure, IIS, NGINX and other hosting environments, the site will automatically restart. Do you want to continue?">Restart Site</button>
      }
    </TabPanel>

    <TabPanel id="system-activity">
      <fieldset role="group" aria-labelledby="heading">
        <h2>General</h2>
        <table class="headers-column mb-4">
          <tbody>
            <tr>
              <th scope="row">Users Online</th>
              <td>@Model.UsersOnline</td>
            </tr>
          </tbody>
        </table>
      </fieldset>

      <fieldset role="group" aria-labelledby="heading">
        <h2>Running Scheduled Tasks</h2>

        @if (Model.RunningTasks.Any())
        {
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Message</th>
              </tr>
            </thead>
            <tbody>
              @foreach (var task in Model.RunningTasks)
              {
                <tr>
                  <td>@task.ScheduledTask.Name</td>
                  <td>@task.Progress?.Status</td>
                  <td>@task.Progress?.Message</td>
                </tr>
              }
            </tbody>
          </table>
        }
        else
        {
          <span>No tasks are running.</span>
        }
      </fieldset>
    </TabPanel>

    @if (Model.WebServerInformation != null && Model.WebServerInformation.Values.Any())
    {
      <TabPanel id="system-webserver">
        <table class="table">
          <tbody>
            @foreach (var keyValue in Model.WebServerInformation)
            {
              <tr>
                <td class="text-nowrap fw-bold">@keyValue.Key</td>
                <td>@keyValue.Value</td>
              </tr>
            }
          </tbody>
        </table>
      </TabPanel>
    }

    <TabPanel id="system-database">
      @foreach (var connection in Model.DatabaseConnections)
      {
        <table class="border border-1 table">
          <tbody>
            <tr class="bg-primary bg-gradient text-light fw-bold">
              <th scope="row" colspan="2"><h2>@(connection.Schema == "*" ? "Default (*)" : connection.Schema)</h2></th>
            </tr>
            <tr>
              <th scope="row" class="text-nowrap w-25 px-2"><h3>Database Type</h3></th>
              <td>@connection.DatabaseType</td>
            </tr>
            <tr>
              <th scope="row" class="text-nowrap w-25 px-2"><h3>Connection string</h3></th>
              <td>@connection.ConnectionString</td>
            </tr>
            @foreach (var keyValue in connection.DatabaseInformation)
            {
              <tr>
                <th scope="row" class="text-nowrap w-25 px-2"><h3>@keyValue.Key</h3></th>
                <td>@keyValue.Value</td>
              </tr>
            }
          </tbody>
        </table>
      }
    </TabPanel>

    <TabPanel id="system-logs">
      @using (Html.BeginAreaForm("GetLogFile", "System", "Admin", FormMethod.Post, new { @class = "d-flex flex-column overflow-auto", @data_target = ".LogContent", @autocomplete = "off" }))
      {
        @await Html.PartialAsync("_LogSettings", Model.LogSettings)
        <div class="LogContent d-flex flex-column overflow-auto mx-1">
          @if (String.IsNullOrEmpty(Model.LogSettings.LogMessage))
          {
            @Model.LogSettings.LogMessage
          }

          @await Html.PartialAsync("_Log", Model.LogSettings)
        </div>
      }

      <modal id="nucleus-system-logging-configuration" class="nucleus-system-logging-configuration" modal-class="modal-lg" title="Logging Configuration">
        <div class="alert alert-info">
          Your current logging settings are listed below.  These settings are typically configured in your
          <span class="font-monospace">appSettings.@(Model.EnvironmentName).json</span>	file.
        </div>

        @await Html.PartialAsync("_LogLevels", Model)
      </modal>
    </TabPanel>

    <TabPanel id="system-cache">
      @using (Html.BeginAreaForm("ClearCache", "System", "Admin", FormMethod.Post, new { @class = "d-flex flex-column overflow-auto flex-1" }))
      {
        <div class="alert alert-info">
          <span class="d-flex align-items-center">
            If a cache is full, the oldest entry will be removed when a new entry is added. Cache settings are configured in your appSettings.@(Model.EnvironmentName).json file.

            <a class="nucleus-material-icon btn btn-none fs-5 ms-2" href="https://www.nucleus-cms.com/configuration-reference/#nucleuscacheoptions" target="_blank">&#xe887;</a>
          </span>
        </div>
        <div class="overflow-auto flex-1 mb-2">
          <table class="table table-sm table-sticky-headers table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Usage</th>
                <th scope="col">Cache Item Expiry</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              @foreach (var cache in Model.CacheReport)
              {
                <tr>
                  <th scope="row" class="text-nowrap fw-bold">@cache.Name</th>
                  <td>@cache.Count of @cache.Options.Capacity (@(Math.Round((decimal)cache.Count / cache.Options.Capacity * 100, 1))<text>% full</text>)</td>
                  <td>@cache.Options.ExpiryTime</td>
                  <td class="w-min-fit-content pe-4">
                    <button type="submit" class="btn btn-sm btn-primary" data-target=".System.parent()" formaction="@Url.AreaAction("ClearCache", "System", "Admin", new { @cache = cache.Name} )">Clear Cache</button>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>

        <button type="submit" class="btn btn-primary me-auto" data-target=".System.parent()" formaction="@Url.AreaAction("ClearAllCaches", "System", "Admin")">Clear All Caches</button>
      }      
    </TabPanel>

    <TabPanel id="system-internals">
      <div class="overflow-auto">
        <table class="table table-sm table-sticky-headers table-striped">
          <thead>
            <tr>
              <th scope="col">Extension</th>
              <th scope="col">Assemblies</th>
            </tr>
          </thead>
          <tbody>
            @foreach (var assemblyLoadContext in Model.ExtensionLoadContexts)
            {
              <tr>
                <td class="text-nowrap fw-bold align-text-top">@assemblyLoadContext.Name</td>
                <td>
                  <table class="small">
                    <tbody>
                      @foreach (var assembly in assemblyLoadContext.Assemblies)
                      {
                        <tr>
                          <td class="py-2">
                            @assembly.FullName
                            @if (!@assembly.IsDynamic && @assembly.Location.StartsWith(Model.ContentRootPath))
                            {
                              <div class="text-muted">@assembly.Location[Model.ContentRootPath.Length..]</div>
                            }
                            <div suppress-empty="true" class="text-muted text-decoration-underline">
                              @if (!String.IsNullOrEmpty(@assembly.Product()) && @assembly.Product() != assembly.GetName().Name)
                              {
                                @assembly.Product()

                                <text>, </text>
                              }
                              @if (!String.IsNullOrEmpty(@assembly.Copyright()))
                              {
                                @assembly.Copyright()
                              }
                            </div>
                          </td>
                        </tr>
                      }
                    </tbody>
                  </table>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </TabPanel>
    <TabPanel id="system-about">
      <table class="table table-striped table-borderless table-sm headers-column">
        <tbody>
          <tr>
            <th scope="row">Product</th>
            <td>@Model.Product @Model.Version</td>
          </tr>
          <tr>
            <th scope="row">Copyright</th>
            <td>@Model.Copyright</td>
          </tr>
          <tr>
            <th scope="row">License</th>
            <td>@Html.Raw(Model.License)</td>
          </tr>
        </tbody>
      </table>
    </TabPanel>
  </TabContent>
</div>

<script>
  jQuery('.System .LogFile').on('change', function () { jQuery(this).parents('form').submit(); })
</script>