@model Nucleus.Web.ViewModels.Admin.Extensions
<div class="ExtensionInstaller">
	<h1>Extensions</h1>

	@using (Html.BeginAreaForm("Upload", "Extensions", "Admin", FormMethod.Post, new { @data_target = ".AdminPage", @enctype = "multipart/form-data" }))
	{
		<div>
			To begin installation, click 'Select File' and select your extension file package.
		</div>

		<div class="Tools">
			<div class="FileBrowser BrowseFile button">
				<label>
					<span class="MaterialIcon">&#xe2c6</span> Select File
					<input type="file" name="extensionFile" accept=".zip">
				</label>
			</div>

			<div class="Restart">
				<a href="@Url.AreaAction("Index", "Extensions", "Admin")" class="button" data-target=".AdminPage">Install another Extension</a>
			</div>
		</div>
				
		<div class="UploadProgress">
			<div>
				<span class="MaterialIcon">&#xe2c6</span> Uploading file ...
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
		</div>
		
		<h2>Installed Extensions</h2>
		<table class="InstalledExtensions">
			<tr>
				<th>Name</th>
				<th>Version</th>
				<th />
			</tr>
			@foreach (var extension in Model.InstalledExtensions)
			{
				<tr>
					<td>
						<div><strong>@extension.name</strong></div>
						<div><a href="@extension.publisher.url" target="_blank">@extension.publisher.name</a> <a href="mailto:@extension.publisher.email" class="MaterialIcon EmailIcon">&#xe0be;</a></div>
						<div>@extension.description</div>
					</td>
					<td>@extension.version</td>
					<td class="SmallIconCell"><input type="submit" formaction="@Url.AreaAction("Uninstall", "Extensions", "Admin", new { Id = extension.id })" value="&#xe14c;" data-confirm="This will uninstall the '@extension.name' package, and remove all module instances, scheduled tasks, layouts and containers which are provided by this extension.<br/><br/>Do you want to continue?" class="MaterialIcon DeleteButton" title="Uninstall" data-target=".AdminPage" /></td>
				</tr>
			}
		</table>
	}
</div>

<script type="text/javascript">
	jQuery('.ExtensionInstaller .BrowseExtension input[type=file]').one('change.ExtensionInstaller', function ()
	{
		jQuery('.ExtensionInstaller .ShowUploadProgress').show();
		jQuery('.ExtensionInstaller form').submit();
		jQuery('.ExtensionInstaller .BrowseExtension').hide();
	});

	jQuery('.ExtensionInstaller form').on('progress', function (e, percent)
	{
		jQuery('.ExtensionInstaller .UploadProgress .bar').css('width', percent.toString() + '%');

		jQuery('.ExtensionInstaller .UploadProgress .percent').show();
		jQuery('.ExtensionInstaller .UploadProgress .percent').html(percent.toString() + '%');
	});

	jQuery('.ExtensionInstaller form').on('error', function ()
	{
		jQuery('.ExtensionInstaller .Tools').show();
		jQuery('.ExtensionInstaller .ShowUploadProgress').hide();
	});

</script>
