@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Abstractions
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8">
	<title>Nucleus Editor</title>
	@Html.AddHtmlEditor()
	<link href="@Url.Content("~/Resources/Libraries/Bootstrap/5.1.0/css/bootstrap.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Resources/css/main.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Resources/css/shared.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Resources/css/admin.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Resources/css/forms.css")" rel="stylesheet" />
	@Html.RenderStyles()
	<script src="@Url.Content("~/Resources/Libraries/jQuery/03.06.00/jquery.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Resources/Libraries/Bootstrap/5.1.0/js/bootstrap.bundle.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Resources/js/jquery-toggleswitch.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Resources/js/nucleus-shared.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Resources/js/nucleus-admin.js")" type="text/javascript"></script>
	@Html.RenderScripts()
</head>
<body>
	<div class="Nucleus PopupPanel">		
		<div class="AdminPage">
			<div class="EditorBody ModuleEditor">
				@RenderBody()
			</div>
		</div>		
	</div>

	<script type="text/javascript">
		jQuery(Page).on("ready.admin", _handleContentLoaded);

		jQuery(document).ready(function ()
		{
			// initialize popup after initial iframe load
			_initializePopup();
		});

		function _handleContentLoaded(event, page, target, data, url, triggerEvent, status, request)
		{
			// initialize popup after partial content update
			_initializePopup();
		}

		function _initializePopup()
		{
			// Close the module editor popup when the user clicks the close button at the top-right
			jQuery('.Nucleus.PopupPanel').on('click', '.ClosePopup', function ()
			{
				if (window.frameElement)
				{
					jQuery(window.frameElement).hide();
					jQuery(window.frameElement).html('');
					window.parent.document.dispatchEvent(new CustomEvent('Refresh'));
				}
			});

			// Center visible popups
			jQuery('.EditorPopup').each(function (index, element)
			{
				var editorPopup = jQuery(this);
				var viewport = jQuery(window);
				editorPopup.css('left', (viewport.width() - editorPopup.width()) / 2);
				editorPopup.css('top', (viewport.height() - editorPopup.height()) / 2);
			});

			// Set the target of forms, buttons to .ModuleEditor for the module edit view 'save' button, controller methods generally return no content.
			// The .ModuleSettings div is rendered by \Areas\Admin\Views\Pages\ModuleEditor.cshtml
			jQuery('.Nucleus.PopupPanel form, .Nucleus.PopupPanel button, .Nucleus.PopupPanel input').each(function (index, element)
			{
				element = jQuery(element);

				if (typeof (element.attr('data-target')) === 'undefined' || element.attr('data-target') === '')
				{
					element.attr('data-target', '.ModuleSettings');
				}
			});

			// Set iframe size to content and center
			if (window.frameElement)
			{
				window.parent.document.dispatchEvent(new CustomEvent('InitFrame', { detail: { element: window.frameElement } }));

				//jQuery(window.frameElement).show();

				//jQuery(window.frameElement).css('height', '80vh');
				//jQuery(window.frameElement).css('width', '80vw');

				//jQuery(window.frameElement).dialog();
				//jQuery(window.frameElement).css('top', (window.screen.height - jQuery(frameElement).height()) / 2);
				//jQuery(window.frameElement).css('left', (window.screen.width - jQuery(frameElement).width()) / 2);
			}
		}
	</script>
</body>

</html>
