@model Nucleus.Modules.PageLinks.ViewModels.Viewer
@using Nucleus.Abstractions
@using Nucleus.ViewFeatures
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Modules.PageLinks.ViewModels
@Html.AddStyle("~!/../viewer.css")
@Html.AddScript("~!/../viewer.js")
<div class="PageLinks">
  @if (Model.Mode == Nucleus.Modules.PageLinks.Models.Settings.Modes.Manual)
  {
    <ol>
      @foreach (var pageLink in Model.PageLinks)
      {
        <li><a href="@this.Context.Request.Path@(new char[] {'#', '.'}.Contains(pageLink.TargetId.First()) ? "" : "#")@pageLink.TargetId">@pageLink.Title</a></li>
      }
    </ol>
  }
</div>
<script>
  @if (Model.Mode == Nucleus.Modules.PageLinks.Models.Settings.Modes.Automatic)
  {
    <text>
	  jQuery(function ()
	  {
		  jQuery('.PageLinks').PageLinkViewer({
			  operationMode: '@Model.Mode',
			  rootSelector: '@Model.RootSelector',
        includeHeaders: '@Model.EnabledHeaders'
		  });
	  });
    </text>
  }

	function selectElement()
	{
		jQuery('.nucleus-extension-components .highlight').removeClass('highlight');
		selectedItem.addClass('highlight');

		window.setTimeout(function ()
		{
			selectedItem[0].scrollIntoView({ block: "start", inline: "nearest" });
			selectedItem.removeClass('highlight');
		}, 100);
	}
</script>