@model Nucleus.Modules.Publish.ViewModels.HeadlinesSettings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
@Html.AddStyle("~!/../settings.css")
@using (Html.BeginNucleusForm("Settings", "HeadlinesAdmin", "Publish", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
	<Tab>
		<TabItem target="#headlines-settings" caption="Headlines" active="true"></TabItem>
	</Tab>

	<TabContent>
		<TabPanel id="headlines-settings" active="true">
			<fieldset role="group" aria-labelledby="heading">
				<h2>Settings</h2>
				<div class="nucleus-flex-fields">
					<SettingsControl caption="Linked Module" helptext="Select the published module instance that this module reads data from.">
						@Html.DropDownListFor(model => model.LinkedModuleId, new SelectList(Model.ModuleInstances, "ModuleId", "Caption"), "(not selected)")
					</SettingsControl>
					<SettingsControl caption="Layout" helptext="Display layout.">
						@Html.DropDownListFor(model => model.Layout, new SelectList(Model.Layouts))
					</SettingsControl>
				</div>

				<div class="">
					<h2>Categories</h2>
					<div class="headlines-categories d-grid border border-1 border-dark p-2">					
					@for (var categoryCount = 0; categoryCount < Model.Categories.Count; categoryCount++)
						{
							<label>
								@Html.CheckBoxFor(model => model.Categories[categoryCount].IsSelected)
								@Html.HiddenFor(model => model.Categories[categoryCount].Category.Id)
								@Html.HiddenFor(model => model.Categories[categoryCount].Category.Name)
								<span class="d-inline-block">@Model.Categories[categoryCount].Category.Name</span>
							</label>
						}
					</div>
				</div>

				<div class="nucleus-flex-fields mt-2">
					<SettingsControl caption="Page Size" helptext="Maximum number of articles shown on list on a page.">
						@Html.TextBoxFor(model => model.PageSize, new SelectList(Model.PageSizes))
					</SettingsControl>

					<SettingsControl caption="Published Date Range" helptext="Article published date range.">
						@Html.DropDownListFor(model => model.PublishedDateRange, Html.GetEnumSelectList<Nucleus.Modules.Publish.Models.PublishedDateRanges>())
					</SettingsControl>

					<SettingsControl caption="Sort By" helptext="Sorting order of articles." >
						@Html.DropDownListFor(model => model.SortOrder, Html.GetEnumSelectList<Nucleus.Modules.Publish.Models.SortOrders>())
					</SettingsControl>
				</div>

				<div class="nucleus-flex-fields mt-2">
					<SettingsControl caption="Show Featured Only?" helptext="Featured articles are shown at the top of the list." rendermode="LabelLast" class="inner-inline">
						@Html.CheckBoxFor(model => model.FeaturedOnly, new { @class = "ToggleSwitch" })
					</SettingsControl>
					
					<SettingsControl caption="Show Paging Controls?" helptext="Display paging controls for end users." rendermode="LabelLast" class="inner-inline">
						@Html.CheckBoxFor(model => model.ShowPagingControl, new { @class = "ToggleSwitch" })
					</SettingsControl>
				</div>
			</fieldset>
		</TabPanel>
	</TabContent>

	<div class="nucleus-form-tools">
		@Html.SubmitButton("", "Save Settings", @Url.NucleusAction("SaveSettings", "HeadlinesAdmin", "Publish"), new { })
	</div>
}
