@model Nucleus.Modules.Publish.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
@Html.AddStyle("~#/settings.css")
@using (Html.BeginNucleusForm("Settings", "Admin", "Publish", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
	<Tab>
		<TabItem target="#article-list" caption="Articles" active="true"></TabItem>
		<TabItem target="#publish-settings" caption="Settings"></TabItem>
	</Tab>

	<TabContent>
		<TabPanel id="article-list" active="true">
			<div class="nucleus-form-tools">
				<div class="btn btn-secondary">
					<label>
						<span class="nucleus-material-icon">&#xe147</span> Add Article
						<input type="submit" class="collapse" formaction="@Url.NucleusAction("Create", "Admin", "Publish")" data-target="#ArticleEditor">
					</label>
				</div>
			</div>

			<table class="Articles">
				<tr>
					<th>Title</th>
				</tr>
				@for (int articleCount = 0; articleCount < Model.Articles.Count; articleCount++)
				{
					<tr>
						<td>
							@Html.HiddenFor(model => model.Articles[articleCount].Id)
							@Model.Articles[articleCount].Title
						</td>

						<td class="nucleus-small-cell"><a href="@Url.NucleusAction("Edit", "Admin", "Publish")?id=@Model.Articles[articleCount].Id" class="nucleus-material-icon btn btn-secondary" data-target="#ArticleEditor" title="Edit">&#xe3c9;</a></td>
						<td class="nucleus-small-cell"><input type="submit" formaction="@Url.NucleusAction("DeleteArticle", "Admin", "Publish")?id=@Model.Articles[articleCount].Id" value="&#xe14c;" class="nucleus-material-icon btn btn-danger" title="Delete" data-confirm="Delete this article?" /></td>
					</tr>
				}
			</table>
		</TabPanel>
		<TabPanel id="publish-settings">
			<fieldset role="group" aria-labelledby="heading">
				<h2>Settings</h2>
				<div class="nucleus-flex-fields">
					<SettingsControl caption="Categories List" helptext="Select the list to use for categories for this module instance.  Lists are managed in the Nucleus Lists manager.">
						@Html.DropDownListFor(model => model.CategoryListId, new SelectList(Model.Lists, "Id", "Name"), "(not selected)")
					</SettingsControl>
				</div>

				<div class="alert alert-primary">
					<p>
						The master layout typically contains elements which wrap the article layouts.  When a viewer layout has a master, primary article and secondary article layouts, the
						primary article layout normally displays article summary information more prominently than the secondary article layout.
					</p>
					<p>
						Some viewer layouts may only have a master layout. Other layouts may have a master layout and a primary layout but no secondary layout.
					</p>
				</div>
				<div>
					<SettingsControl caption="Viewer Layout" helptext="Viewer layout.">
						@Html.DropDownListFor(model => model.LayoutOptions.ViewerLayout, new SelectList(Model.LayoutOptions.ViewerLayouts), new { @data_autopostbackevent = "change" })
					</SettingsControl>
					<SettingsControl caption="Master Layout" helptext="Master layout.">
						@Html.DropDownListFor(model => model.LayoutOptions.MasterLayout, new SelectList(Model.LayoutOptions.MasterLayouts))
					</SettingsControl>
				</div>
				<div class="article-layouts d-grid mt-2">
					<div>
						<h3>Primary</h3>
						<SettingsControl caption="Article Layout" helptext="Select an article layout.">
							@Html.DropDownListFor(model => model.LayoutOptions.PrimaryArticleLayout, new SelectList(Model.LayoutOptions.ArticleLayouts), "(none)", Html.ControlDisabled(!Model.LayoutOptions.ArticleLayouts.Any()))
						</SettingsControl>
						<SettingsControl caption="Article Count" helptext="Number of articles to show.">
							@Html.TextBoxFor(model => model.LayoutOptions.PrimaryArticleCount, Html.ControlDisabled(!Model.LayoutOptions.ArticleLayouts.Any(), new { @type = "number", @min = "0" }))
						</SettingsControl>
						<SettingsControl caption="Use Primary Items Layout for Featured Articles Only?" helptext="Specifies whether to use the primary items layout for featured articles only. Non-featured articles will be displayed using the secondary items layout." rendermode="LabelLast" class="inner-inline">
							@Html.CheckBoxFor(model => model.LayoutOptions.PrimaryFeaturedOnly, Html.ControlDisabled(!Model.LayoutOptions.ArticleLayouts.Any(), new { @class = "ToggleSwitch" }))
						</SettingsControl>
					</div>
					<div>
						<h3>Secondary</h3>
						<SettingsControl caption="Article Layout" helptext="Select an article layout.">
							@Html.DropDownListFor(model => model.LayoutOptions.SecondaryArticleLayout, new SelectList(Model.LayoutOptions.ArticleLayouts), "(none)", Html.ControlDisabled(!Model.LayoutOptions.ArticleLayouts.Any()))
						</SettingsControl>
						<SettingsControl caption="Article Count" helptext="Number of articles to show.">
							@Html.TextBoxFor(model => model.LayoutOptions.SecondaryArticleCount, Html.ControlDisabled(!Model.LayoutOptions.ArticleLayouts.Any(), new { @type = "number", @min = "0" }))
						</SettingsControl>
					</div>
				</div>

				<div class="nucleus-form-tools">
					@Html.SubmitButton("", "Save Settings", @Url.NucleusAction("SaveSettings", "Admin", "Publish"), new { })
				</div>
			</fieldset>

		</TabPanel>
	</TabContent>
}
<modal id="ArticleEditor" title="Article"></modal>
