@model Nucleus.Modules.Forums.ViewModels.ListForums
@using Nucleus.Extensions
@using Nucleus.ViewFeatures
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Modules.Forums.ViewModels
@Html.AddStyle("~!/../viewer.css")
@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.NUCLEUS_FORMS)
<div class="forums">
  <div class="nucleus-form-tools">
    @Html.LinkButton("","Manage Subscriptions", Url.NucleusAction("ManageSubscriptions", "Forums", "Forums"), new { @class = "btn btn-primary btn-sm", @data_target = ".forums.parent()" })
  </div>
  <table class="forums-list table table-sm table-striped">
    @foreach (var group in Model.Groups)
    {
      <thead>
        <tr class="group-header">
          <th scope="col" class="group-title">@group.Name</th>
          <th scope="col">Posts</th>
          <th scope="col">Replies</th>
          <th scope="col">Most Recent</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var forum in group.Forums)
        {
          <tr class="forum-item @(forum.EffectiveSettings().Enabled ? "enabled" : "disabled")">
            <td>
              <div class="forum-title">
                <div class="nucleus-material-icon me-1">
                  @if (forum.EffectiveSettings().Enabled)
                  {
                    @Html.Raw("&#xe0bf;")
                  }
                  else
                  {
                    <span title="Disabled forum">@Html.Raw("&#xf236;")</span>
                  }
                </div>
                <div>
                  <div class="fw-bold">
                    <a href="@Url.PageLink(Model.Page, forum.Name.FriendlyEncode())">@forum.Name</a>
                  </div>

                  @if (!String.IsNullOrEmpty(forum.Description))
                  {
                    <div>
                      @Html.Raw(forum.Description.ToHtml("text/plain"))
                    </div>
                  }
                </div>
              </div>
            </td>
            <td class="compact-cell">@forum.Statistics.PostCount</td>
            <td class="compact-cell">@forum.Statistics.ReplyCount</td>
            <td class="compact-cell small" title="@forum.Statistics.LastPost?.Subject">
              @if (forum.Statistics.LastPost != null)
              {
                <div class="forum-subject small" title="@forum.Statistics.LastPost.Subject">
                  <a href="@Url.PageLink(Model.Page, @forum.Name.FriendlyEncode() + $"/{@forum.Statistics.LastPost.Id}")@(forum.Statistics.LastReply == null ? "" : "/#_" + @forum.Statistics.LastReply.Id)">
                    @forum.Statistics.LastPost.Subject
                  </a>
                </div>
                <div class="small">@(forum.Statistics.LastPost.PostedBy?.UserName ?? "Deleted User")</div>
                <div class="small">@forum.Statistics.LastPost.DateAdded.FormatDate(this.Context.Request.GetUserTimeZone())</div>
              }
            </td>
          </tr>
        }
      </tbody>
    }
  </table>
</div>