@model Nucleus.Modules.Forums.ViewModels.ViewForum
@using Nucleus.Extensions
@using Nucleus.ViewFeatures
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Modules.Forums.ViewModels
@Html.AddStyle("~!/../viewer.css")
@Html.AddStyle("~/Resources/css/forms.css")
@if (Model.Forum != null)
{
<div class="Forums">
	@using (Html.BeginNucleusForm("SubscribeForum", "Forums", "Forums", FormMethod.Post, new { @autocomplete = "off" }))
	{
		<div class="nucleus-form-tools">
			@Html.HiddenFor(model => model.Forum.Id)
			@if (Model.CanPost)
			{
				@Html.LinkButton("", "Add new post", Url.NucleusAction("AddPost", "Forums", "Forums", new { forumId = Model.Forum.Id }), new { @class = "btn btn-primary", @data_target = ".Forums.parent()" })
			}
			@if (Model.CanSubscribe && Model.Subscription == null)
			{
				@Html.SubmitButton("", "Subscribe", Url.NucleusAction("SubscribeForum", "Forums", "Forums"), new { @class = "btn btn-secondary", @data_target = ".Forums.parent()" })
			}
			@if (Model.Subscription != null)
			{
				@Html.SubmitButton("", "Un-subscribe", Url.NucleusAction("UnSubscribeForum", "Forums", "Forums"), new { @class = "btn btn-secondary", @data_target = ".Forums.parent()" })
			}
			@Html.LinkButton("", "Back", Url.PageLink(Model.Page), new { @class="btn btn-secondary" })
			@*<button type="button" class="btn btn-secondary" href="/@Model.Forum.Name.FriendlyEncode()">Back</button>*@
		</div>
	}
	<table class="forum-posts">
		<tr>
			<th colspan="2">Subject</th>
			<th>Started By</th>
			<th>Replies</th>
			<th>Most Recent</th>
		</tr>
		@foreach (var post in Model.Posts)
		{
			<tr>
				<td class="nucleus-material-icon">
					@if (post.IsPinned)
					{
					<span title="Pinned">@Html.Raw("&#xe55f;")</span>
					}
					else if (post.IsLocked)
					{
						<span title="Pinned">@Html.Raw("&#xe897;")</span>
					}
					else if (!post.IsApproved)
					{
						<span title="Approved">@Html.Raw("&#xef64;")</span>
					}
				</td>
				<td>
					<a href="@post.Id" class="@(post.Tracking == null ? "d-block fw-bold" : "d-block")">@post.Subject</a>
					
					@if (post.Status != null)
					{
						<span class="post-status">@post.Status.Name</span>
					}
				</td>
				<td>@post.PostedBy.UserName</td>
				<td>@post.Statistics.ReplyCount</td>
				<td>
					@if (post.Statistics.LastReply != null)
					{
						<div>@post.Statistics.LastReply.PostedBy.UserName</div>
						<div>@post.Statistics.LastReply.DateAdded.FormatDate(this.Context.Request.GetUserTimeZone())</div>
					}
				</td>
			</tr>
		}
	</table>
</div>
}