@model Nucleus.ViewFeatures.ViewModels.PagingControl
@Html.AddStyle("~!PagingControl.css")
<div class="PagingControl">
	<span class="Summary">Page @Model.Results.CurrentPageIndex of @Model.Results.TotalPages</span>
	<a class="PageButton@(Model.Results.CurrentPageIndex == 1 ? " disabled" : "")" data-page="1">|&lt;</a>
	<a class="PageButton@(Model.Results.CurrentPageIndex == 1 ? " disabled" : "")" data-page="@(Model.Results.CurrentPageIndex - 1)">Previous</a>

	@if (Model.Results.Pages.Count > 1)
	{
		@foreach (var pageInfo in Model.Results.Pages)
		{
			@if (pageInfo.Key == Model.Results.TotalPages && Model.Results.TotalPages > Model.Results.MaxPageControls)
			{
				<span>...</span>
			}
			<a class="PageButton@(pageInfo.Key == Model.Results.CurrentPageIndex ? " Current" : "")" data-page="@pageInfo.Key">@pageInfo.Key</a>
		}
		<a class="PageButton@(Model.Results.CurrentPageIndex == Model.Results.TotalPages ? " disabled" : "")" data-page="@(Model.Results.CurrentPageIndex + 1)">Next</a>
		<a class="PageButton@(Model.Results.CurrentPageIndex == Model.Results.TotalPages ? " disabled" : "")" data-page="@Model.Results.TotalPages">&gt;|</a>
		@Html.DropDownList(Model.PropertyName + ".CurrentPageIndex", new SelectList(Model.Results.Pages, "Key", "Value", Model.Results.CurrentPageIndex), new { @class = "PageDropDown", @data_autopostbackevent = "change" })
	}
	<label class="PageSizeLabel">Page Size:</label>
	@Html.DropDownList(Model.PropertyName + ".PageSize", new SelectList(Model.Results.PageSizes, Model.Results.PageSize), new { @class = "PageSizeDropDown", @data_autopostbackevent = "change" })
</div>
<script type="text/javascript">
	jQuery(document).ready(function ()
	{
		jQuery('.PagingControl [data-page]:not(.disabled').on('click', function (event)
		{
			jQuery('#@(Model.PropertyName)_CurrentPageIndex').val(jQuery(event.currentTarget).attr('data-page')).trigger("change");
		});
	});
</script>