@model Nucleus.OAuth.Client.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
@Html.AddStyle("~!/../settings.css")
<h2 class="nucleus-modal-caption">OAuth Client Settings</h2>
@using (Html.BeginNucleusForm("Settings", "OAuthClientAdmin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
	<fieldset class="flex-grow-1" role="group" aria-labelledby="heading">
		<h2>Settings</h2>
			<SettingsControl caption="Caption" helptext="On-screen caption.">
				@Html.TextBoxFor(model => model.Caption)
			</SettingsControl>
		<SettingsControl caption="Layout" helptext="Display layout.">
			@Html.DropDownListFor(model => model.Layout, new SelectList(Model.Layouts))
		</SettingsControl>
					
		<SettingsControl caption="Automatically redirect to remote login" class="inner-inline" rendermode="LabelLast" helptext="If enabled, and if there is only one remote OAuth provider configured, and if the user is not logged in, start remote login automatically.">
			@Html.CheckBoxFor(model => model.AutoLogin, new { @class = "ToggleSwitch" })
		</SettingsControl>
	</fieldset>

	<div class="nucleus-form-buttonrow">
		@Html.SubmitButton("", "Save Settings", @Url.NucleusAction("SaveSettings", "OAuthClientAdmin", "OAuthClient"), new { })
	</div>
}
