@model Nucleus.Modules.Links.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
@Html.AddStyle("~!/../settings.css")
<h1 class="nucleus-modal-caption">Links Settings</h1>
@using (Html.BeginNucleusForm("Settings", "Admin", "Links", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
	<Tab>
		<TabItem target="#link-list" caption="Links" active="true"></TabItem>
		<TabItem target="#links-settings" caption="Settings"></TabItem>
	</Tab>

	<TabContent>
		<TabPanel id="link-list" active="true">
			<div class="nucleus-form-tools">
				@Html.SubmitButton("&#xe147", "Add Link", @Url.NucleusAction("Create", "Admin", "Links"), new { @data_target = "#LinksEditor" })
			</div>

			<div id="LinksList">
				@await Html.PartialAsync("_LinksList.cshtml", Model)
			</div>
		</TabPanel>

		<TabPanel id="links-settings">
			<fieldset role="group" aria-labelledby="heading">
				<h2>Settings</h2>
				<div class="nucleus-flex-fields">
					<SettingsControl caption="Categories List" helptext="Select the list to use for categories for this module instance.  Lists are managed in the Nucleus Lists manager.">
						@Html.DropDownListFor(model => model.CategoryList.Id, new SelectList(Model.Lists, "Id", "Name"), "(not selected)")
					</SettingsControl>
					<SettingsControl caption="Layout" helptext="Display layout.">
						@Html.DropDownListFor(model => model.Layout, new SelectList(Model.Layouts))
					</SettingsControl>
				</div>
				
				<SettingsControl caption="Open in new window?" rendermode="LabelLast" class="inner-inline" helptext="Specifies whether to open the link in a new window.">
					@Html.CheckBoxFor(model => model.NewWindow, new { @class = "ToggleSwitch" })
				</SettingsControl>

				<div class="nucleus-form-tools">
					@Html.SubmitButton("", "Save Settings", @Url.NucleusAction("SaveSettings", "Admin", "Links"), new { })

				</div>
			</fieldset>

		</TabPanel>
	</TabContent>
}
<modal id="LinksEditor" title="Link Settings"></modal>

