@model Nucleus.Web.ViewModels.User.AccountPassword
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8">
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta name="REVISIT-AFTER" content="1 DAYS" />
	<meta name="RATING" content="GENERAL" />
	<meta name="RESOURCE-TYPE" content="DOCUMENT" />
	<meta name="DESCRIPTION" content="Password Page" />
	<meta name="KEYWORDS" content="Change Password" />
	<meta content="text/javascript" http-equiv="Content-Script-Type" />
	<meta content="text/css" http-equiv="Content-Style-Type" />
	<title>Password</title>
	<link href="@Url.Content("~/Resources/css/main.css")" rel="stylesheet" />
	<link href="@Url.Content("~/Resources/css/forms.css")" rel="stylesheet" />
	<script src="@Url.Content("~/Resources/Libraries/jQuery/03.06.00/jquery.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Resources/js/nucleus-shared.js")" type="text/javascript"></script>
</head>
<body>
	<h1>Login</h1>

	@using (Html.BeginAreaForm("ChangePassword", "Account", "User", FormMethod.Post))
	{
		@if (!String.IsNullOrEmpty(Model.Message))
		{
			<div>@Model.Message</div>
		}

		<fieldset>
			@Html.HiddenFor((model) => model.ReturnUrl)
			@Html.HiddenFor((model) => model.Username)

			<div>
				<label>
					<span>Old Password</span>
					<span>@Html.PasswordFor((model) => model.Password)</span>
				</label>
			</div>
			<div>
				<label>
					<span>New Pasword</span>
					<span>@Html.PasswordFor((model) => model.NewPassword)</span>
				</label>
			</div>
			<div>
				<label>
					<span>Confirm New Pasword</span>
					<span>@Html.PasswordFor((model) => model.ConfirmPassword)</span>
				</label>
			</div>
			<div>
				<input type="submit" value="Change Password" />
				<a href="/" value="Cancel" />
			</div>
		</fieldset>
	}
</body>
</html>
