@model Nucleus.Web.ViewModels.Admin.PageEditor
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
<h2 class="nucleus-modal-caption">@(String.IsNullOrEmpty(Model.Module.Title) ? "No Title" : @Model.Module.Title) Permissions</h2>
@using (Html.BeginAreaForm("SaveModulePermissions", "Pages", "Admin", new { @mid = Model.Module.Id }, FormMethod.Post, new { @class = "d-flex overflow-auto flex-1", @data_target = "form.parent()" }))
{
  <div class="nucleus-form-tools">
		@Html.DropDownListFor((model) => model.SelectedModuleRoleId, new SelectList(Model.AvailableModuleRoles, "Id", "Name"), new { @class = "flex-fill" })
		<input type="submit" class="btn btn-secondary" formaction="@Url.AreaAction("AddModulePermissionRole", "Pages", "Admin")?standalone=true" value="Add Role" data-target="form.parent()" />
	</div>

	@Html.HiddenFor(model => model.Module.Id)
	@await Html.PartialAsync("ModulePermissions")

	<div class="nucleus-button-panel">
		<input type="submit" class="btn btn-primary" value="Save Changes" />
	</div>
}


