@model Nucleus.Web.ViewModels.Admin.ManageIcon
<li data-target=".nucleus-adminpage" class="@Model.ClassName">
	<a title="@Model.Title" href="@Url.Content(@Model.Url)" accesskey="@Model.AccessKey"></a>
	<span>@Html.Raw(Model.Glyph)</span>
	<h3>@Model.Caption</h3>
	@Model.Summary
</li>
