@model Nucleus.Web.ViewModels.Admin.MailTemplateEditor
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Extensions
@using Nucleus.Abstractions.Models
@using (Html.BeginAreaForm("Save", "MailTemplates", "Admin", FormMethod.Post, new { @data_target = ".nucleus-adminpage", @autocomplete = "off" }))
{
<fieldset role="group" aria-labelledby="heading">
	<h2>Mail Template</h2>
	@Html.HiddenFor(model => model.MailTemplate.Id)

	<SettingsControl caption="Name" helptext="Mail Template name.">
		@Html.TextBoxFor(model => model.MailTemplate.Name, new { @maxlength = 256 })
	</SettingsControl>

		<SettingsControl caption="Subject" helptext="Mail Template Subject.  This is the e-mail subject.">
		@Html.TextBoxFor(model => model.MailTemplate.Subject, new { @maxlength = 256 })
	</SettingsControl>

	<SettingsControl caption="Body" helptext="" class="textarea-fill">
		@Html.TextAreaFor(model => model.MailTemplate.Body, 12, 60, new { @class = "font-monospace" })
	</SettingsControl>

</fieldset>
	
	<div class="nucleus-button-panel">
		<input type="submit" class="btn btn-primary" value="Save Changes" />
		<input type="submit" class="btn btn-success" value="Verify Template" formaction="@Url.AreaAction("Verify", "MailTemplates", "Admin")" />

		@if (Model.MailTemplate.Id != Guid.Empty)
		{
			<input type="submit" class="btn btn-danger" value="Delete Mail Template" formaction="@Url.AreaAction("DeleteMailTemplate", "MailTemplates", "Admin")" data-confirm="Delete this Mail Template?" />
		}
	</div>
	
}

