@model Nucleus.Web.ViewModels.Admin.MailTemplateEditor
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Extensions
@using Nucleus.Abstractions.Models
<style>
  .monaco-editor { position: absolute !important; }
</style>
@using (Html.BeginAreaForm("Refresh", "MailTemplates", "Admin", FormMethod.Post, new { @data_target = ".MailTemplateEditor", @autocomplete = "off" }))
{
  <fieldset role="group" aria-labelledby="heading">
    <h2>Mail Template</h2>
    @Html.HiddenFor(model => model.MailTemplate.Id)

    <SettingsControl caption="Name" helptext="Mail Template name.">
      @Html.TextBoxFor(model => model.MailTemplate.Name, new { @maxlength = 256 })
    </SettingsControl>

    <SettingsControl caption="Task" helptext="Select the scheduled task to run.">
      @Html.DropDownListFor(model => model.MailTemplate.DataModelTypeName, new SelectList(Model.AvailableDataModelTypes, "TypeName", "FriendlyName"), "(select)", new { @data_autopostbackevent = "change" })
    </SettingsControl>

    <SettingsControl caption="Subject" helptext="Mail Template Subject.  This is the e-mail subject.">
      @Html.TextBoxFor(model => model.MailTemplate.Subject, new { @maxlength = 256 })
    </SettingsControl>

    <div class="d-flex flex-1 border-start border-success border-5 textarea-fill">
      @Html.TextAreaFor(model => model.MailTemplate.Body, 12, 60, new { @class = "font-monospace" })
      <div id="mailtemplate-monaco-editor" class="flex-1"></div>
    </div>    
  </fieldset>

  <div class="nucleus-button-panel">
    <button type="submit" class="btn btn-primary" data-target=".nucleus-adminpage" formaction="@Url.AreaAction("Save", "MailTemplates", "Admin")">Save Changes</button>
    <button type="submit" class="btn btn-success" data-target=".nucleus-adminpage" formaction="@Url.AreaAction("Verify", "MailTemplates", "Admin")">Verify Template</button>

    @if (Model.MailTemplate.Id != Guid.Empty)
    {
      <button type="submit" class="btn btn-danger" data-target=".nucleus-adminpage" formaction="@Url.AreaAction("DeleteMailTemplate", "MailTemplates", "Admin")" data-confirm="Delete this Mail Template?">Delete Mail Template</button>
    }
  </div>

  <script>
    var _model = @Html.Raw(Model.DataModel);
    jQuery('#mailtemplate-monaco-editor').MonacoEditor({ linkedElement: '#MailTemplate_Body', model: _model });
  </script>

}

