@model Nucleus.Modules.Forums.ViewModels.ViewForum
@using Nucleus.Abstractions
@using Nucleus.ViewFeatures
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Modules.Forums.ViewModels
@Html.AddStyle("~!/../viewer.css")
@Html.AddStyle("~/Resources/css/forms.css")
<div class="Forums">
	@using (Html.BeginNucleusForm("SubscribeForum", "Forums", "Forums", FormMethod.Post, new { @autocomplete = "off" }))
	{
		<div class="Tools">
			@Html.HiddenFor(model => model.Forum.Id)
			@if (Model.CanPost)
			{
				@Html.LinkButton("", "Add new post", Url.NucleusAction("AddPost", "Forums", "Forums", new { forumId = Model.Forum.Id }), new { @data_target = ".Module" })
			}
			@if (Model.CanSubscribe)
			{
				@Html.SubmitButton("", "Subscribe", Url.NucleusAction("SubscribeForum", "Forums", "Forums"), new { @data_target = ".Module" })
			}
			@Html.LinkButton("", "Back", Url.NucleusAction("Index", "Forums", "Forums"), new { @data_target = ".Module" })
		</div>
	}
	<table>
		<tr>
			<th colspan="2">Subject</th>
			<th>Started By</th>
			<th>Replies</th>
			<th>Most Recent</th>
		</tr>
		@foreach (var post in Model.Posts)
		{
			<tr>
				<td class="MaterialIcon">
					@if (post.IsPinned)
					{
						@Html.Raw("&#xe55f;")
					}
					else if (!post.IsLocked)
					{
						@Html.Raw("&#xe897;")
					}
					else if (!post.IsApproved)
					{
						@Html.Raw("&#xef64;")
					}
				</td>
				<td>
					<a href="@Url.NucleusAction("ViewPost", "Forums", "Forums", new { @id = post.Id })" data-target=".Module">@post.Subject</a>
					@if (post.Status != null)
					{
						<span class="post-status">@post.Status.Name</span>
					}
				</td>
				<td>@post.PostedBy</td>
				<td>@post.Statistics.ReplyCount</td>
				<td>
					@if (post.Statistics.LastReply != null)
					{
						<div>@post.Statistics.LastReply.PostedBy</div>
						<div>@post.Statistics.LastReply.DateAdded</div>
					}
				</td>
			</tr>
		}
	</table>
</div>