@model Nucleus.Web.ViewModels.Admin.ListEditor
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
@using (Html.BeginAreaForm("Save", "Lists", "Admin", FormMethod.Post, new { @data_target = ".AdminPage", @autocomplete = "off" }))
{
	<Tab>
		<TabItem target="#list-properties" caption="Properties"></TabItem>
		@if (Model.List.Id != Guid.Empty)
		{
			<TabItem target="#list-items" caption="List Items"></TabItem>
		}
	</Tab>

	<TabContent>
		<TabPanel id="list-properties" active="true">
			<fieldset List="group" aria-labelledby="heading">
				<h2>List</h2>
				@Html.HiddenFor(model => model.List.Id)

				<SettingsControl caption="Name" helptext="List name">
					@Html.TextBoxFor(model => model.List.Name)
				</SettingsControl>

				<SettingsControl caption="Description" helptext="Description">
					@Html.TextAreaFor(model => model.List.Description)
				</SettingsControl>
			</fieldset>
		</TabPanel>

		@if (Model.List.Id != Guid.Empty)
		{
			<TabPanel id="list-items">
				<div class="Tools">
					@Html.SubmitButton("&#xe145;", "Add List Item", Url.AreaAction("AddListItem", "Lists", "Admin"), new { @data_target = ".ListEditor" })
				</div>

				<table>
					<tr>
						<th>Name</th>
						<th>Value</th>
					</tr>
					@for (int itemCount = 0; itemCount < Model.List.Items.Count; itemCount++)
					{
						<tr>
							<td>
								@Html.HiddenFor(model => model.List.Items[itemCount].Id)
								@Html.TextBoxFor(model => model.List.Items[itemCount].Name)
							</td>
							<td>
								@Html.TextBoxFor(model => model.List.Items[itemCount].Value)
							</td>
							<td class="SmallIconCell"><input type="submit" formaction="@Url.AreaAction("DeleteListItem", "Lists", "Admin", new { id = Model.List.Items[itemCount].Id })" value="&#xe14c;" class="MaterialIcon DeleteButton" title="Delete" data-target=".ListEditor" /></td>
						</tr>
					}
				</table>
			</TabPanel>
		}
	</TabContent>
	<div class="ButtonPanel">
		<input type="submit" class="DefaultButton" value="Save Changes" />

		@if (Model.List.Id != Guid.Empty)
		{
			<input type="submit" class="DeleteButton" value="Delete List" formaction="@Url.AreaAction("DeleteList", "Lists", "Admin")" data-confirm="Delete this list?" />
		}
	</div>
}
