@model Nucleus.Web.ViewModels.Admin.ScheduledTaskEditor
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
@using Nucleus.Abstractions.Models.TaskScheduler

<div class="ScheduledTasks">
	<Tab>
		<TabItem target="#task-properties" caption="Properties" active="true"></TabItem>
		<TabItem target="#task-history" caption="History"></TabItem>
		<TabItem target="#task-logs" caption="Logs"></TabItem>
	</Tab>

	<TabContent>
		<TabPanel id="task-properties" active="true">
			@using (Html.BeginAreaForm("Save", "ScheduledTasks", "Admin", FormMethod.Post, new { @data_target = ".AdminPage", @autocomplete = "off" }))
			{
				<fieldset ScheduledTask="group" aria-labelledby="heading">
					<h2>Scheduled Task</h2>
					@Html.HiddenFor(model => model.ScheduledTask.Id)

					<SettingsControl caption="Name" helptext="Scheduled Task name">
						@Html.TextBoxFor(model => model.ScheduledTask.Name)
					</SettingsControl>

					<SettingsControl caption="Type Name" helptext="Type Name">
						@Html.DropDownListFor(model => model.ScheduledTask.TypeName, new SelectList(Model.AvailableServiceTypes), "(select)")
					</SettingsControl>

					<div class="Flex interval">
						<SettingsControl caption="Enabled?" helptext="Specifies whether this task is enabled.  Disabled tasks do not run automatically, but can be executed manuallly by using the 'Run now' button.">
							@Html.CheckBoxFor(model => model.ScheduledTask.Enabled, new { @class = "ToggleSwitch" })
						</SettingsControl>
						<SettingsControl caption="Interval" helptext="Interval">
							@Html.TextBoxFor(model => model.ScheduledTask.Interval)
						</SettingsControl>

						<SettingsControl caption="Interval Type" helptext="Interval Type">
							@Html.DropDownListFor(model => model.ScheduledTask.IntervalType, Html.GetEnumSelectList(typeof(ScheduledTask.Intervals)))
						</SettingsControl>

						<SettingsControl caption="Keep History (count)" helptext="The number of history records to retain.">
							@Html.DropDownListFor(model => model.ScheduledTask.KeepHistoryCount, new List<SelectListItem>
							{
								new SelectListItem{ Text="10", Value = "10" },
								new SelectListItem{ Text="25", Value = "25" },
								new SelectListItem{ Text="50", Value = "50" },
								new SelectListItem{ Text="100", Value = "100" },
								new SelectListItem{ Text="250", Value = "250" },
								new SelectListItem{ Text="500", Value = "500" },
								new SelectListItem{ Text="1000", Value = "1000" }
							 })
						</SettingsControl>
					</div>


					<SettingsControl caption="Next Run">
						<div>@(Model.ScheduledTask.NextScheduledRun == DateTime.MinValue ? "Immediate" : Model.ScheduledTask.NextScheduledRun.ToLocalTime())</div>
					</SettingsControl>

					<div class="align-right">
						<input type="submit" value="Run Now" formaction="@Url.AreaAction("RunNow", "ScheduledTasks", "Admin")" />
					</div>
				</fieldset>

				<div class="ButtonPanel">
					<input type="submit" class="DefaultButton" value="Save Changes" />

					@if (Model.ScheduledTask.Id != Guid.Empty)
					{
						<input type="submit" class="DeleteButton" value="Delete Scheduled Task" formaction="@Url.AreaAction("DeleteScheduledTask", "ScheduledTasks", "Admin")" data-confirm="Delete this Scheduled Task?" />
					}

				</div>
			}
		</TabPanel>

		<TabPanel id="task-history">
			<table>
				<tr>
					<th>Start Date</th>
					<th>Finish Date</th>
					<th>Next Run Date</th>
					<th>Server</th>
					<th>Status</th>
				</tr>
				@foreach (var item in Model.History)
				{
					<tr>
						<td>@item.StartDate.FormatDate(true)</td>
						<td>@item.FinishDate.FormatDate(true)</td>
						<td>@item.NextScheduledRun.FormatDate(true)</td>
						<td>@item.Server</td>
						<td>@item.Status</td>
					</tr>
				}
			</table>
		</TabPanel>

		<TabPanel id="task-logs">
			@if (Model.LogFiles != null)
			{
				@using (Html.BeginAreaForm("GetLogFile", "ScheduledTasks", "Admin", FormMethod.Post, new { @data_target = ".LogContent pre", @autocomplete = "off" }))
				{
					@Html.HiddenFor(model => model.ScheduledTask.Id)
					@Html.DropDownListFor(model => model.LogFile, new SelectList(Model.LogFiles, "Filename", "Title"), "(select)", new { @class = "LogFile" })
				}
				<div class="LogContent"><pre>@Model.LogContent</pre></div>
			}
			else
			{
				<span>There are no log files for this scheduled task.</span>
			}
		</TabPanel>
	</TabContent>
</div>

<script type="text/javascript">
	jQuery('.ScheduledTasks .LogFile').on('change', function () { jQuery(this).parents('form').submit(); })
</script>


