@model Nucleus.Modules.FilesList.ViewModels.Viewer
@using Nucleus.Modules.FilesList.ViewModels
@using Nucleus.Extensions
<div class="files-list file-tiles">
	@foreach (var file in Model.Files)
	{
		<div>
			<a class="file-name" href="@Url.FileLink(file)" alt="@file.Name">@file.Name</a>
			@if (Model.ShowModifiedDate)
			{
				<div class="file-modified-date">@file.DateModified.FormatDate(this.Context.Request.GetUserTimeZone())</div>
			}
			@if (Model.ShowSize || Model.ShowDimensions)
			{
				<div>
					@if (Model.ShowSize)
					{
						<span class="file-size">@file.Size.FormatFileSize()</span>
					}
					@if (Model.ShowDimensions && file.Width > 0 && file.Height > 0)
					{
						<span class="file-dimensions">@($"{file.Width} x {file.Height}")</span>						
					}
				</div>
			}
		</div>
	}
</div>
