@model Nucleus.Modules.Search.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
@using (Html.BeginNucleusForm("Settings", "Search", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
	<div id="search-settings" class="flex-grow-1">
		<h2 class="nucleus-modal-caption">Search Settings</h2>		
		<fieldset role="group" aria-labelledby="heading">
			<label>Search Input</label>
			<div class="nucleus-flex-fields">
				<SettingsControl caption="Display Mode" helptext="Specify the search input controls display mode.">
					@Html.DropDownListFor(model => model.DisplayMode, Html.GetEnumSelectList(typeof(Nucleus.Modules.Search.ViewModels.Settings.DisplayModes)))
				</SettingsControl>

				<SettingsControl caption="Search Caption" helptext="Specifies the label displayed next to the search term.  This is only visible when display mode is set to 'Full'.">
					@Html.TextBoxFor(model => model.SearchCaption, new {  })
				</SettingsControl>

				<SettingsControl caption="Search Button Caption" helptext="Specifies the text displayed in the search button.   This is only visible when display mode is set to 'Full' or 'Compact'.">
					@Html.TextBoxFor(model => model.SearchButtonCaption, new {  })
				</SettingsControl>

				<SettingsControl caption="Maximum Number of Suggestions" helptext="Specify how many suggestions to display while the user enters search terms.">
					@Html.TextBoxFor(model => model.MaximumSuggestions, new { @type = "number", @min = "0", @max = "100" })
				</SettingsControl>
			</div>

			<SettingsControl caption="Results Page" helptext="Results Page.  This page should contain a search module.  Select (none) to display results on the same page as the search module.">
				@Html.PageListFor(model => model.ResultsPageId, Model.PageMenu, Guid.Empty)
			</SettingsControl>

			<SettingsControl caption="Include Scopes" helptext="Use this setting to restrict results to specified scopes, or leave blank for all scopes.  Specify included scopes by entering one or more scopes separated by line feeds.  A scope is the URN of the data type which was used to create a search entry (Examples: site pages - urn:nucleus:entities:page, files - urn:nucleus:entities:file).  This setting affects both search suggestions and search results.  This is an advanced setting which may not be supported by all search providers.">
				@Html.TextAreaFor(model => model.IncludeScopes, new { @rows = 5})
			</SettingsControl>
						
			<SettingsControl caption="Include Files in Results?" rendermode="LabelLast" class="inner-inline" helptext="Specify whether to include files in search results.">
				@Html.CheckBoxFor(model => model.IncludeFiles, new { @class = "ToggleSwitch" })
			</SettingsControl>
		</fieldset>

		<div class="alert alert-info results-page-selected collapse">
			Results display settings are configured in the search module instance on the results page.
		</div>

		<fieldset class="search-instance-settings collapse show">
			<label>Results Display</label>
			<div class="nucleus-flex-fields">
				<SettingsControl caption="Show Summary?" rendermode="LabelLast" class="inner-inline" helptext="Display search result item summaries/descriptions.">
					@Html.CheckBoxFor(model => model.ShowSummary, new { @class = "ToggleSwitch" })
				</SettingsControl>

				<SettingsControl caption="Show Categories?" rendermode="LabelLast" class="inner-inline" helptext="Display search result categories.">
					@Html.CheckBoxFor(model => model.ShowCategories, new { @class = "ToggleSwitch" })
				</SettingsControl>

				<SettingsControl caption="Show Published Date?" rendermode="LabelLast" class="inner-inline" helptext="Display search result publication date, if available.">
					@Html.CheckBoxFor(model => model.ShowPublishDate, new { @class = "ToggleSwitch" })
				</SettingsControl>

				<SettingsControl caption="Show Size?" rendermode="LabelLast" class="inner-inline" helptext="Display search result size, if available.">
					@Html.CheckBoxFor(model => model.ShowSize, new { @class = "ToggleSwitch" })
				</SettingsControl>

				<SettingsControl caption="Show Score?" rendermode="LabelLast" class="inner-inline" helptext="Display search result score.">
					@Html.CheckBoxFor(model => model.ShowScore, new { @class = "ToggleSwitch" })
				</SettingsControl>
			</div>
		</fieldset>
	</div>
	<div class="nucleus-form-buttonrow">
		@Html.SubmitButton("", "Save Settings", @Url.NucleusAction("SaveSettings", "Search", "Search"), new { })
	</div>
}
<script>
	$(document).ready(function()
	{
		// Read the child pages of the item containing the "+" button
		jQuery('#search-settings').on('click', '.nucleus-get-childpages', function (e)
		{
			// Add a ul to contain the new pages
			Page.LoadPartialContent(e, '@Url.NucleusAction("GetChildPages", "Search", "Search")' + '?id=' + jQuery(this).attr('data-id'), jQuery(this).closest('li'));

			// hide the "+" button
			jQuery(this).removeClass('show');
		});

		// Hide the child pages of the item containing the "-" button
		jQuery('#search-settings').on('click', '.nucleus-hide-childpages', function (e)
		{
			// hide the "-" button
			jQuery(this).removeClass('show');

			// show the "+" button
			jQuery(this).siblings('.nucleus-get-childpages').addClass('show');

			jQuery(this).closest('li').find('ul').remove();
		});

		/* enable/disable per-module settings */

		/* on load */
		enableInstanceSettings(jQuery('#ResultsPageId').val() === '00000000-0000-0000-0000-000000000000');

		/* when the user changes the results page selection */
		jQuery('#search-settings .nucleus-page-list a').on('click', function ()
		{
			enableInstanceSettings(jQuery(this).attr('data-id') === '00000000-0000-0000-0000-000000000000');
		});

		function enableInstanceSettings(enable)
		{
			if (enable)
			{
				jQuery('#search-settings .search-instance-settings').addClass('show');
				jQuery('#search-settings .results-page-selected').removeClass('show');
			}
			else
			{
				jQuery('#search-settings .search-instance-settings').removeClass('show');
				jQuery('#search-settings .results-page-selected').addClass('show');
			}
		}
	});
</script>
