@model Nucleus.Web.ViewModels.Admin.FileSystem
@using Nucleus.Abstractions.Models.FileSystem
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
<div class="FileSystemManager">
	<h2>Files</h2>

	@using (Html.BeginAreaForm("UploadFile", "FileSystem", "Admin", FormMethod.Post, new { @data_target = ".AdminPage", @enctype = "multipart/form-data" }))
	{
		@Html.DropDownListFor(model => model.SelectedProviderKey, new SelectList(Model.Providers, "Key", "Value.Name"), "(select)", new { @class = "providerKey" })

		@Html.HiddenFor((model) => model.SelectedProviderKey)
		@Html.HiddenFor((model) => model.Folder.Path)

		<div class="Tools">
			@if (!String.IsNullOrEmpty(Model.Folder.Path))
			{
				@Html.LinkButton("&#xe5c4;", "Back", @Url.AreaAction("Index", "FileSystem", "Admin", new { path = Model.Folder.Parent }), new { @data_target = ".AdminPage" })
			}
			@Html.AreaActionLink("Create Folder", "ShowCreateFolderDialog", "FileSystem", "Admin", new { path = Model.Folder.Path, SelectedProviderKey = Model.SelectedProviderKey }, new { @class = "button", @data_target = ".FileSystemEditor" })

			<div class="FileBrowser BrowseFile button">
				<label>
					<span class="MaterialIcon">&#xe2c6</span> Upload File
					<input type="file" name="mediaFile">
				</label>
			</div>
			@Html.SubmitButton("", "Delete", @Url.AreaAction("ShowDeleteDialog", "FileSystem", "Admin"), new { @data_target = ".FileSystemEditor" })
			@Html.SubmitButton("", "Rename", @Url.AreaAction("ShowRenameDialog", "FileSystem", "Admin"), new { @data_target = ".FileSystemEditor" })
			@Html.SubmitButton("&#xe897;", "Folder Permissions", @Url.AreaAction("EditFolderPermissions", "FileSystem", "Admin", new { path = Model.Folder.Path }), new { @data_target = ".FolderPermissionsEditor" })
		</div>

		<div>
			<div class="UploadProgress">
				<div>
					<span class="MaterialIcon">&#xe2c6</span> Uploading file ...
				</div>
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>

			<table class="FileSystemItems">
				<tr>
					<th />
					<th>Name</th>
					<th>Type</th>
					<th>Modified Date</th>
					<th>Size</th>
				</tr>

				@for (var folderCount = 0; folderCount < Model.Folder?.Folders.Count; folderCount++)
				{
					<tr>
						<td>
							@Html.CheckBoxFor(model => model.Folder.Folders[folderCount].IsSelected, new { @class = "FolderSelector" })
							@Html.HiddenFor(model => model.Folder.Folders[folderCount].Path)
							@Html.HiddenFor(model => model.Folder.Folders[folderCount].Name)
						</td>
						<td>
							@Html.AreaActionLink(Model.Folder.Folders[folderCount].Name, "Index", "FileSystem", "Admin", new { path = @Model.Folder.Folders[folderCount].Path }, new { @class = "NavigateLink", @data_target = ".AdminPage" })
						</td>
						<td>Folder</td>
						<td>@Model.Folder.Folders[folderCount].DateModified</td>
						<td />
					</tr>
				}

				@for (var fileCount = 0; fileCount < Model.Folder?.Files.Count; fileCount++)
				{
					<tr>
						<td>
							@Html.CheckBoxFor(model => model.Folder.Files[fileCount].IsSelected, new { @class = "FileSelector" })
						</td>
						<td>
							@Model.Folder.Files[fileCount].Name
							@Html.HiddenFor(model => model.Folder.Files[fileCount].Path)
							@Html.HiddenFor(model => model.Folder.Files[fileCount].Name)
						</td>
						<td>File</td>
						<td>@Model.Folder.Files[fileCount].DateModified</td>
						<td>@((Model.Folder.Files[fileCount] as File).Size.FormatSize())</td>
					</tr>

				}
			</table>
		</div>

		<div class="FileSystemEditorOverlay EditorOverlay"></div>
		<div class="FileSystemEditor EditorPopup" data-overlay=".FileSystemEditorOverlay"></div>
	}

	<div class="FolderPermissionsOverlay EditorOverlay"></div>
	<div class="FolderPermissionsEditor EditorPopup" data-overlay=".FolderPermissionsOverlay"></div>
</div>

<script type="text/javascript">
	jQuery('.providerKey').on('change', function ()
	{
		jQuery(this).parents('form').submit();
	});

</script>
