@model Nucleus.Web.ViewModels.Admin.IndexIcon
<li id="@Model.Id" data-target=".nucleus-adminpage" class="@Model.ClassName">
	<a title="@Model.Title" href="@Url.Content(@Model.Url)" accesskey="@Model.AccessKey">
		<span class="nucleus-index-icon">@Html.Raw(Model.Glyph)</span>
		<span class="Label">@Model.Caption</span>
	</a>	
</li>