@model Nucleus.Web.ViewModels.Admin.Index
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Abstractions
@{ Layout = ""; }
<!DOCTYPE html>
<html lang="en">
<head>
	<base href="@Url.Content("~/")" />
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8">
	<meta content="text/html" http-equiv="Content-Type" />
	<title>Nucleus Admin</title>
	@Html.AddStyle("~/Resources/Libraries/Bootstrap/5.2.0/css/bootstrap.css")
	@Html.AddStyle("~/Resources/css/shared.css")
	@Html.AddStyle("~/Resources/css/admin.css")
	@Html.AddStyle("~/Resources/css/forms.css")
	@Html.AddStyle("~/Resources/css/editmode.css")
	@Html.AddStyle("~/Shared/Controls/Views/PagingControl.css")
	@Html.AddScript("~/Resources/Libraries/jQuery/03.06.00/jquery.js")
	@Html.AddScript("~/Resources/Libraries/Bootstrap/5.2.0/js/bootstrap.bundle.js")
	@Html.AddScript("~/Resources/js/jquery-toggleswitch.js")
	@Html.AddScript("~/Resources/js/jquery-pagelist.js")
	@Html.AddScript("~/Resources/js/nucleus-shared.js")
	@Html.AddScript("~/Resources/js/nucleus-admin.js")
	@Html.AddHtmlEditor()
	<merge-stylesheets>
	@Html.RenderStyles()
	</merge-stylesheets>
	<merge-scripts>
	@Html.RenderScripts()
	</merge-scripts>
</head>
<body>
	<div class="nucleus-control-panel">
		<ul class="nucleus-control-panel-sidebar">
			@if (Model.IsSiteAdmin)
			{
				@await Html.PartialAsync("_IndexIcon", new Nucleus.Web.ViewModels.Admin.IndexIcon("System", "System", "~/Admin/System/Index", "Y", "&#xe871;", "SystemIcon"))
				@await Html.PartialAsync("_IndexIcon", new Nucleus.Web.ViewModels.Admin.IndexIcon("Pages", "Pages", "~/Admin/Pages/Index", "P", "&#xef42;", "PagesIcon"))
				@await Html.PartialAsync("_IndexIcon", new Nucleus.Web.ViewModels.Admin.IndexIcon("Manage", "Manage", "~/Admin/Manage/Index", "M", "&#xf02e;", "ManageIcon"))
@*
				<li data-target=".nucleus-adminpage" class="PagesIcon">
					<a title="Pages" class="Pages" href="@Url.Content("~/Admin/Pages/Index")" accesskey="P"><span>&#xef42;</span></a>
					<span class="Label">Pages</span>
				</li>
				<li data-target=".nucleus-adminpage" class="ManageIcon">
					<a title="Manage" class="Manage" href="@Url.Content("~/Admin/Manage/Index")" accesskey="M"><span>&#xf02e;</span></a>
					<span class="Label">Manage</span>
				</li>*@
			}
			@if (Model.IsSystemAdministrator)
			{
				@await Html.PartialAsync("_IndexIcon", new Nucleus.Web.ViewModels.Admin.IndexIcon("Extensions", "Extensions", "~/Admin/Extensions/Index", "E", "&#xe87b;", "ExtensionsIcon"))
				@await Html.PartialAsync("_IndexIcon", new Nucleus.Web.ViewModels.Admin.IndexIcon("Settings", "Settings", "~/Admin/Settings/Index", "S", "&#xe8b8;", "SettingsIcon"))
@*
				<li data-target=".nucleus-adminpage" class="ExtensionsIcon">
					<a title="Extensions" class="Extensions" href="@Url.Content("~/Admin/Extensions/Index")" accesskey="E"><span>&#xe87b;</span></a>
					<span class="Label">Extensions</span>
				</li>
				<li data-target=".nucleus-adminpage" class="SettingsIcon">
					<a title="Settings" class="Settings" href="@Url.Content("~/Admin/Settings/Index")" accesskey="S"><span>&#xe8b8;</span></a>
					<span class="Label">Settings</span>
				</li>*@
			}

			@if (Model.CanEdit)
			{
				@await Html.PartialAsync("_IndexIcon", new Nucleus.Web.ViewModels.Admin.IndexIcon("nucleus-edit-page-btn", "Edit Page", "Edit Page", "~/Admin/Pages/Editor" + "?id=" + @Model.CurrentPage.Id + "&mode=Single", "E", "&#xef42;", "nucleus-control-panel-sidebar-bottom"))
				@await Html.PartialAsync("_IndexIcon", new Nucleus.Web.ViewModels.Admin.IndexIcon("nucleus-edit-content-btn", "Edit Content", "Edit Content", "~/Admin/Settings/Index", "S", "&#xe3c9;", "nucleus-control-panel-sidebar-bottom" + (Model.IsEditMode ? "-active" : "")))

				//<li id="nucleus-edit-page-btn" class="nucleus-control-panel-sidebar-bottom" data-target=".nucleus-adminpage">
				//	<a title="Edit Page" class="EditPageButton" href="@Url.Content("~/Admin/Pages/Editor")?id=@Model.CurrentPage.Id&mode=Single"><span>&#xef42;</span></a>
				//	<span class="Label">Edit Page Settings</span>
				//</li>

				//<li id="nucleus-edit-content-btn" class="nucleus-control-panel-sidebar-bottom@(Model.IsEditMode ? "-active" : "")">
				//	<a title="Edit Content" href="@Url.Content("~/Admin/Settings/Index")"><span>&#xe3c9;</span></a>
				//	<span class="Label">Edit Content</span>
				//</li>
			}
		</ul>

		<div class="nucleus-control-panel-content collapse">
			<div class="nucleus-control-panel-content-header border-bottom mb-1">
				<h1 id="nucleus-control-panel-heading"></h1>
				<a class="nucleus-btn-close-frame">&#xe5cd;</a>
				<a class="nucleus-btn-page-back" data-target=".nucleus-adminpage">&#xe5c4;</a>
			</div>
			<div class="nucleus-adminpage nucleus-admin-content"><img class="nucleus-progress-medium" src="~/Resources/Images/progress_medium.gif"/></div>
		</div>
	</div>

	<modal id="PopupDialog" title="Settings"></modal>

</body>
</html>

