@model Nucleus.Web.ViewModels.Admin.SiteEditor
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions
@using Nucleus.Abstractions.Models
@using Nucleus.Abstractions.Models.Mail
@using Nucleus.Core
<table>
	<tr>
		<th>Name</th>
		<th>Type</th>
	</tr>

	@if (Model.Site.UserProfileProperties != null)
	{
		int count = 0;
		@foreach (UserProfileProperty prop in Model.Site.UserProfileProperties)
		{
			<tr>
				<td>@prop.Name</td>
				<td>@(prop.TypeUri ?? "")</td>
				<td class="nucleus-small-cell"><input type="submit" formaction="@Url.AreaAction("EditUserProfileProperty", "Sites", "Admin")?id=@prop.Id" value="&#xe3c9;" class="nucleus-material-icon btn btn-secondary" data-target="#PopupDialog .modal-body" /></td>
				<td class="nucleus-small-cell"><input type="submit" formaction="@Url.AreaAction("DeleteUserProfileProperty", "Sites", "Admin")?id=@prop.Id" value="&#xe14c;" title="Delete user profile property" class="nucleus-material-icon btn btn-danger" data-target="#UserProfilePropertiesList" data-confirm="This will delete the '@prop.Name' user property so that it no longer appears on user data input forms, but it will not remove data from existing users.  Delete this property?" /></td>
				<td class="nucleus-small-cell">
					@if (count != 0)
					{
						<input type="submit" formaction="@Url.AreaAction("MovePropertyUp", "Sites", "Admin")?id=@prop.Id" value="&#xe5d8;" class="nucleus-material-icon btn btn-outline-secondary" title="Move Up" data-target="#UserProfilePropertiesList" />
					}
				</td>
				<td class="nucleus-small-cell">
					@if (count < Model.Site.UserProfileProperties.Count() - 1)
					{
						<input type="submit" formaction="@Url.AreaAction("MovePropertyDown", "Sites", "Admin")?id=@prop.Id" value="&#xe5db;" class="nucleus-material-icon btn btn-outline-secondary" title="Move Down" data-target="#UserProfilePropertiesList" />
					}
				</td>
			</tr>
			count++;
		}
	}
</table>