@model Nucleus.Modules.MultiContent.ViewModels.Viewer
@using Nucleus.Extensions
@using Nucleus.ViewFeatures
@using Nucleus.ViewFeatures.HtmlHelpers
@Html.AddStyle("~!/../../viewer.css")
<div id="carousel-@Model.Module.Id" class="carousel slide carousel-dark multi-content-carousel" data-bs-ride="carousel" data-bs-interval="@Model.LayoutSettings.Interval">
	@if (Model.LayoutSettings.ShowIndicators)
	{
		<div class="carousel-indicators">
			@for (int count = 0; count < Model.Contents.Count; count++)
			{
				<button type="button" data-bs-target="#carousel-@Model.Module.Id" data-bs-slide-to="@count" class="@(Model.Contents[count] == Model.Contents.First() ? "active" : "")" aria-current="@(Model.Contents[count] == Model.Contents.First() ? "true" : "false")" aria-label="@Model.Contents[count].Title"></button>
			}
		</div>
	}
	<div class="carousel-inner">
		@foreach (var content in Model.Contents)
		{
			<div class="carousel-item @(content == Model.Contents.First() ? "active" : "")">
				@if (!String.IsNullOrEmpty(content.Title))
				{
					<h3>@content.Title</h3>
				}
				<div>
					@(new Microsoft.AspNetCore.Html.HtmlString(content.ToHtml()))
				</div>
			</div>
		}
	</div>
	@if (Model.LayoutSettings.ShowControls)
	{
		<button class="carousel-control-prev" type="button" data-bs-target="#carousel-@Model.Module.Id" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carousel-@Model.Module.Id" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	}
</div>
<script>
	jQuery(document).ready(function () 
	{
		var height = 0;
		// normalize carousel item heights
		jQuery('#carousel-@Model.Module.Id .carousel-item').each(function (index, element) 
		{
			var elementHeight = jQuery(element).height();
			if (elementHeight > height) height= elementHeight;
		});
		jQuery('#carousel-@Model.Module.Id .carousel-item').height(height);
	});
	
</script>