@model Nucleus.Modules.Publish.ViewModels.Viewer
@using Nucleus.Extensions
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Modules.Publish.HtmlHelpers
@Html.AddStyle("~!/../../viewer.css")
<div class="Articles">
	<table class="table">
		<tr>
			<th>Title</th>
			<th>Summary</th>
			<th>Published</th>
			<th></th>
		</tr>
		@foreach (var article in Model.Articles.Items)
		{
			<tr>
				<td class="title">
					@Html.AddEditingControls(@article.Id)
					<a href="@Url.PageLink(Model.Page, @article.Title.FriendlyEncode())">@article.Title</a>
				</td>
				<td class="summary">
					@article.Summary
				</td>
				<td class="w-min-fit-content">
					@((article.PublishDate.HasValue ? article.PublishDate.Value.Date : article.DateAdded.Value.Date).FormatDate(this.Context.Request.GetUserTimeZone()))
				</td>
				<td class="w-min-fit-content">
					<a href="@Url.PageLink(Model.Page, @article.Title.FriendlyEncode())" class="btn btn-secondary">Read more</a>
				</td>
			</tr>
		}
	</table>
</div>
