@model Nucleus.Modules.Account.ViewModels.ChangePassword
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.NUCLEUS_FORMS)
@using (Html.BeginNucleusForm("ChangePassword", "ChangePassword", FormMethod.Post, new { data_target = "form.parent()" }))
{
	{		
		<fieldset aria-labelledby="Change Password">
			@Html.HiddenFor((model) => model.ReturnUrl)

      @if (Model.UserPasswordExpired)
      {
      <div class="alert alert-info">
        <h2>Password Expired</h2>
        <p>
          Your password has expired.  You must set a new password.
        </p>
      </div>
      }

      @if (!Model.ExistingPasswordBlank)
			{
				<SettingsControl caption="Old Password" helptext="Enter your current password.">
					@Html.PasswordFor(model => model.Password)
				</SettingsControl>
			}
			else
			{
				@Html.HiddenFor(model => model.ExistingPasswordBlank)	
			}

			<SettingsControl caption="New Password" helptext="Enter your new password.">
				@Html.PasswordFor(model => model.NewPassword)
			</SettingsControl>

			<SettingsControl caption="Confirm New Password" helptext="Confirm your new password.">
				@Html.PasswordFor(model => model.ConfirmPassword)
			</SettingsControl>

			<div>
				<input type="submit" value="Change Password" class="btn btn-primary" />
				<a href="@Url.Content("~/")" class="btn btn-secondary">Cancel</a>
			</div>
		</fieldset>
	}
}