@model Nucleus.Modules.Account.ViewModels.Recover
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@Html.AddStyle("~/Resources/css/forms.css")
@using (Html.BeginNucleusForm("Index", "Recover", FormMethod.Post, new { data_target = "form.parent()" }))
{	
	<fieldset aria-label="Recover Account">
		@Html.HiddenFor(model => model.ReturnUrl)
		<p>
			Please enter the email address associated with your account.
		</p>
		<div>
			<label>
				<span>Email</span>
				<span>@Html.TextBoxFor(model => model.Email, new { @autocorrect = "off", @autocapitalize = "none" })</span>
			</label>
		</div>

		<div class="mt-2">
			@if (Model.AllowUsernameRecovery)
			{
				<input type="submit" value="Recover User Name" class="btn btn-primary" formaction="@Url.NucleusAction("RecoverUserName", "Recover", "Account")" />
			}
			@if (Model.AllowPasswordReset)
			{
				<input type="submit" value="Reset Password" class="btn btn-primary" formaction="@Url.NucleusAction("RecoverPassword", "Recover", "Account")" />
			}
		</div>
	</fieldset>	
}
