@model Nucleus.Modules.Account.ViewModels.ResetPassword
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@Html.AddStyle("~/Resources/css/forms.css")
@using (Html.BeginNucleusForm("ResetPassword", "Recover", FormMethod.Post, new { data_target = "form.parent()" }))
{
	<fieldset aria-labelledby="heading">
		<h3>Reset Password</h3>
		<p>
			Please enter your user name, the password recovery token which was sent to you and your new password.
		</p>
		<div>
			<label>
				<span>User Name</span>
				<span>@Html.TextBoxFor(model => model.UserName, new { @autocorrect = "off", @autocapitalize = "none" })</span>
			</label>
		</div>

		<div>
			<label>
				<span>Password Reset Token</span>
				<span>@Html.TextBoxFor(model => model.PasswordResetToken, new { @autocorrect = "off", @autocapitalize = "none" })</span>
			</label>
		</div>

		<div>
			<label>
				<span>New Password</span>
				<span>@Html.PasswordFor(model => model.NewPassword, new { @autocorrect = "off", @autocapitalize = "none" })</span>
			</label>
		</div>

		<div>
			<label>
				<span>Confirm Password</span>
				<span>@Html.PasswordFor(model => model.ConfirmPassword, new { @autocorrect = "off", @autocapitalize = "none" })</span>
			</label>
		</div>

		<div class="nucleus-form-buttonrow">
			<input type="submit" value="Reset Password" class="btn btn-primary" />
		</div>
	</fieldset>

}
