@model Nucleus.Modules.Search.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
@Html.AddStyle("~!/../settings.css")
<div>
	@using (Html.BeginNucleusForm("Settings", "Search", FormMethod.Post, new { @enctype = "multipart/form-data" }))
	{
		<fieldset role="group" aria-labelledby="heading">
			<h2>Settings</h2>
			<div class="nucleus-flex-fields">

				<SettingsControl caption="Show Categories?" rendermode="LabelLast" class="inner-inline" helptext="Display search result categories.">
					@Html.CheckBoxFor(model => model.ShowCategories, new { @class = "ToggleSwitch" })
				</SettingsControl>

				<SettingsControl caption="Show Published Date?" rendermode="LabelLast" class="inner-inline" helptext="Display search result publication date, if available.">
					@Html.CheckBoxFor(model => model.ShowPublishDate, new { @class = "ToggleSwitch" })
				</SettingsControl>

				<SettingsControl caption="Show Size?" rendermode="LabelLast" class="inner-inline" helptext="Display search result size, if available.">
					@Html.CheckBoxFor(model => model.ShowSize, new { @class = "ToggleSwitch" })
				</SettingsControl>

				<SettingsControl caption="Show Score?" rendermode="LabelLast" class="inner-inline" helptext="Display search result score.">
					@Html.CheckBoxFor(model => model.ShowScore, new { @class = "ToggleSwitch" })
				</SettingsControl>
			</div>

			<div class="Tools">
				@Html.SubmitButton("", "Save Settings", @Url.NucleusAction("SaveSettings", "Search", "Search"), new { })
			
			</div>
		</fieldset>
	}
</div>
