@model Nucleus.Web.ViewModels.Setup.SiteWizard
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Abstractions
@addTagHelper "*, Nucleus.ViewFeatures"
@{
  Layout = "_Generic";
  ViewData["title"] = "Nucleus Setup Wizard";
}
@Html.AddStyle("~!index.css")
@Html.AddScript("~/Areas/Setup/Views/SiteWizard/index.js", true)
@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.JQUERY)
@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.NUCLEUS_TOGGLESWITCH)
@using (Html.BeginAreaForm("GenerateConnectionString", "SiteWizard", "Setup", FormMethod.Post, new { @data_target = "document" }))
{
  <Modal id="site-wizard" title="Nucleus Setup Wizard" can-close="false" data-bs-backdrop="static" data-bs-keyboard="false">
    <img class="logo" src="@Url.Content("~/Resources/Images/nucleus.png")" height="90" width="81" alt="Nucleus Logo" />
    <h2>Welcome to Nucleus.</h2>
    <p>This wizard will help you to set up your site.</p>
        
    @if (!Model.IsDatabaseConfigured)
    {
      <div id="site-databases" class="d-flex flex-column flex-1">
        @await Html.PartialAsync("_Database", Model)
      </div>
    }
    else
    {
      @if ((Model.Preflight == null || Model.Preflight.IsValid()) && (Model.SelectedTemplate == null || Model.OtherWarnings.Count() > 0 || Model.MissingExtensionWarnings.Count() > 0))
      {
        @await Html.PartialAsync("_SiteTemplate", Model)
      }
      else
      {
        @Html.HiddenFor(model => model.SelectedTemplate)
        @Html.HiddenFor(model => model.TemplateTempFileName)

        <Tab class="nav-pills nav-justified">
          @if (Model.Preflight != null)
          {
            <TabItem caption="Configuration Checks" active="true" target="#site-preflight"></TabItem>
          }

          @if (Model.Preflight == null || Model.Preflight.IsValid())
          {
            <TabItem caption="File System" active="@(Model.Preflight == null ? true : false)" target="#site-filesystem"></TabItem>
            <TabItem caption="Extensions" target="#site-install"></TabItem>
            <TabItem caption="Site" target="#site-settings"></TabItem>
            <TabItem caption="Users" target="#user-settings"></TabItem>
          }
        </Tab>
        <TabContent>
          @if (Model.Preflight != null)
          {
            <TabPanel id="site-preflight" active="true">
              @await Html.PartialAsync("_PreFlight", Model)
            </TabPanel>
          }

          @if (Model.Preflight == null || Model.Preflight.IsValid())
          {
            <TabPanel id="site-filesystem" active="@(Model.Preflight == null ? true : false)">
              @await Html.PartialAsync("_FileSystem", Model)
            </TabPanel>

            <TabPanel id="site-install">
              @await Html.PartialAsync("_Extensions", Model)
            </TabPanel>

            <TabPanel id="site-settings">
              @await Html.PartialAsync("_SiteSettings", Model)
            </TabPanel>

            <TabPanel id="user-settings">
              @await Html.PartialAsync("_UserSettings", Model)
            </TabPanel>
          }
        </TabContent>

        <div class="wizard-progress collapse">
          <div>
            <h2>Setting up Nucleus</h2>
            <p>Your web site is being created, please wait.</p>
            <div class="progress my-2">
              <div class="progress-bar progress-bar-striped progress-bar-animated indeterminate" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
          </div>
        </div>

        <div class="nucleus-button-panel justify-content-end">
          <button id="wizard-button-back" class="collapse btn btn-secondary" type="button" title="Back">Back</button>

          @if (Model.Preflight == null || Model.Preflight.IsValid())
          {
            <button id="wizard-button-next" class="collapse show btn btn-primary" type="button" title="Next">Next</button>
            <button id="wizard-button-finish" class="collapse btn btn-success" type="submit" formaction="@Url.AreaAction("Install", "SiteWizard", "Setup")" title="Finish">Finish</button>
          }
        </div>
      }
    }
  </Modal>
}