@model Nucleus.Modules.Forums.ViewModels.GroupSettings
@using Nucleus.Abstractions
@using Nucleus.ViewFeatures
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Modules.Forums.ViewModels
<table>
	@for (int forumCount = 0; forumCount < Model.Group?.Forums.Count; forumCount++)
	{
		<tr>
			<td>
				@Html.HiddenFor(model => Model.Group.Forums[forumCount].Id)
				@Html.HiddenFor(model => Model.Group.Forums[forumCount].Name)
				@Model.Group.Forums[forumCount].Name
			</td>

			<td class="nucleus-small-cell"><input type="submit" formaction="@Url.NucleusAction("EditForum", "ForumsAdmin", "Forums")?id=@Model.Group.Forums[forumCount].Id" value="&#xe3c9;" class="nucleus-material-icon btn btn-secondary" title="Edit Forum" data-target="#ForumEditor" /></td>
			<td class="nucleus-small-cell"><input type="submit" formaction="@Url.NucleusAction("DeleteForum", "ForumsAdmin", "Forums")?id=@Model.Group.Forums[forumCount].Id&groupId=@Model.Group.Id" value="&#xe14c;" class="nucleus-material-icon btn btn-danger" title="Delete Forum" data-target="#ForumList" data-confirm="Forums can only be deleted if they contain no posts.  Use the 'Enabled' setting to disable a forum which has existing posts.  Delete this forum?" /></td>
		</tr>
	}
</table>
