@Model.User.UserName,

@if (@Model.Reply == null)
{
  <p>Your forum post at <a href="@Model.Site.AbsoluteUrl(true)">@Model.Site.Name</a> was approved : </p>
  <p>@Model.Post.Body</p>
  <p>
    To view the complete thread and reply, please visit: 
    <a href="@Model.Site.AbsoluteUrl( @Model.Page, $"{@Model.Forum.Name.FriendlyEncode()}/{@Model.Post.Id}", true)">@Model.Post.Subject</a>
  </p>
}
else
{
  <p>Your forum reply at <a href="@Model.Site.AbsoluteUrl(true)">@Model.Site.Name</a> was approved: </p>
  <p>@Model.Reply.Body</p>
  <p>
    To view the complete thread and reply, please visit:
    <a href="@Model.Site.AbsoluteUrl( @Model.Page, $"{@Model.Forum.Name.FriendlyEncode()}/{@Model.Reply.Post.Id}", true)/#_@Model.Reply.Id">@Model.Reply.Post.Subject</a>
  </p>
}

<br />
<div>
  You were sent this email because you posted to a forum at <a href="@Model.Site.AbsoluteUrl(true)">@Model.Site.Name</a>.  
  <a href="@Model.Site.AbsoluteUrl(@Model.Page.ManageSubscriptionsRelativeUrl, true)">Click here</a> 
  to manage your subscriptions, or browse to @Model.Site.AbsoluteUrl(@Model.Page.ManageSubscriptionsRelativeUrl, true).
</div>