@Model.User.UserName,

@if (@Model.Reply == null)
{
  <p>A forum post at <a href="@Model.Site.AbsoluteUrl(true)">@Model.Site.Name</a> requires approval.</p>
  <p>@Model.Post.Body</p>
  <p>
    To view the complete thread and reply, please visit:
    <a href="@Model.Site.AbsoluteUrl( @Model.Page, $"{@Model.Forum.Name.FriendlyEncode()}/{@Model.Post.Id}", true)">@Model.Post.Subject</a>
  </p>
}
else
{
  <p>A forum post reply at <a href="@Model.Site.AbsoluteUrl(true)">@Model.Site.Name</a> requires approval.</p>
  <p>@Model.Reply.Body</p>
  <p>
    To view the complete thread and reply, please visit:
    <a href="@Model.Site.AbsoluteUrl(@Model.Page, $"{@Model.Forum.Name.FriendlyEncode()}/{@Model.Reply.Post.Id}", true)/#_@Model.Reply.Id">@Model.Reply.Post.Subject</a>
  </p>
}

<br />
<div>
  You were sent this email because you are a form moderator at <a href="@Model.Site.AbsoluteUrl(true)">@Model.Site.Name</a>.
</div>