@Model.User.UserName,

<p>New messages have been posted to forums or forum posts that you are tracking at <a href="@Model.Site.AbsoluteUrl(true)">@Model.Site.Name</a>: </p>

@foreach (var forum in Model.Forums)
{
	<a href="@Model.Site.AbsoluteUrl(@Model.Page, @forum.Name.FriendlyEncode(), true)">@forum.Name</a>

	<table>
		<tr>
			<th>Subject</th>
			<th>Author</th>
			<th>Date</th>
		</tr>
		<tr>
			<td colspan="3"><h2>Posts</h2></td>
		</tr>
		@foreach (var post in forum.Posts)
		{
		<tr>
			<td><a href="@Model.Site.AbsoluteUrl(@Model.Page, $"{@forum.Name.FriendlyEncode()}/{@post.Id}", true)">@post.Subject</a></td>
			<td>@post.PostedBy.UserName</td>
			<td>@post.DateAdded (UTC)</td>
		</tr>
		}
		@if (forum.Replies.Any())
		{
			<tr>
				<td colspan="3"><h2>Replies</h2></td>
			</tr>
			@foreach (var reply in forum.Replies)
			{
				<tr>
					<td><a href="@Model.Site.AbsoluteUrl(@Model.Page, $"{@forum.Name.FriendlyEncode()}/{@reply.Post.Id}", true)">@reply.Post.Subject</a></td>
					<td>@reply.PostedBy.UserName</td>
					<td>@reply.DateAdded (UTC)</td>
				</tr>
			}
		}
	</table>
}

<div>
You were sent this email because you are subscribed to a forum or post at <a href="@Model.Site.AbsoluteUrl(true)">@Model.Site.Name</a>, or are the
original poster of this forum message.  <a href="@Model.Site.AbsoluteUrl(@Model.Page.ManageSubscriptionsRelativeUrl, true)">Click here</a> 
to manage your subscriptions, or browse to @Model.Site.AbsoluteUrl(@Model.Page.ManageSubscriptionsRelativeUrl, true).
</div>