@*This is the used when rendering content for a search feed.  It renders modules only, no banner/anything else  *@
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />	
	@if (!String.IsNullOrEmpty(Model.Context.Page.Description))
	{
		<meta name="DESCRIPTION" content="@Model.Context.Page.Description" />
    <meta property="og:description" content="@Model.Context.Page.Description" />
	}
  <meta property="og:site_name" content="@Model.Context.Site.Name" />
  <meta property="og:title" content="@Model.Context.Page.Title" />
  <meta property="og:url" content="@Model.DefaultPageUri" />
  <meta property="og:type" content="website" />
	<link rel="canonical" href="@Model.DefaultPageUri" />
	<title>@Model.Context.Page.Title</title>	
</head>
<body>
@await Html.RenderPaneAsync("*")
	@{
		IgnoreBody();
	}
</body>
</html>