@* This layout is used by the setup wizard and by the built-in/fallback views (login, etc) *@
<!DOCTYPE html>
<html lang="en">
<head>
	<base href="@Url.Content("~/")" />
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8">
	<meta content="text/html" http-equiv="Content-Type" />
	<meta name="REVISIT-AFTER" content="1 DAYS" />
	<meta name="RATING" content="GENERAL" />
	<meta name="RESOURCE-TYPE" content="DOCUMENT" />
	<meta name="DESCRIPTION" content="Login Page" />
	<meta name="KEYWORDS" content="Login" />
	<meta content="text/javascript" http-equiv="Content-Script-Type" />
	<meta content="text/css" http-equiv="Content-Style-Type" />
	<title>@ViewData["title"]</title>
	@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.BOOTSTRAP)
	@Html.AddStyle("~/Resources/css/shared.css")
	@Html.AddStyle("~/Resources/css/forms.css")
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.JQUERY)
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.BOOTSTRAP)
	@Html.AddScript("~/Resources/js/nucleus-shared.js")
	<merge-stylesheets>
	@Html.RenderStyles()
	</merge-stylesheets>
	<merge-scripts>
	@Html.RenderScripts()
	</merge-scripts>
</head>
<body class="p-2">
	@RenderBody()
</body>
</html>