@* This layout is used by the setup wizard and by the built-in/fallback views (login, etc) *@
<!DOCTYPE html>
<html lang="en">
<head>
	<base href="@Url.Content("~/")" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
	<title>@ViewData["title"]</title>
	@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.BOOTSTRAP)
	@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.NUCLEUS_SHARED)
	@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.NUCLEUS_FORMS)
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.JQUERY)
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.BOOTSTRAP)
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.NUCLEUS_SHARED)
	@Html.RenderStyles()
	@Html.RenderScripts()
  @Html.RenderWebAssemblies()
</head>
<body>
	@RenderBody()
</body>
</html>