@* This layout is used by the setup wizard and by the built-in/fallback views (login, etc) *@
<!DOCTYPE html>
<html lang="en">
<head>
	<base href="@Url.Content("~/")" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewData["title"]</title>
	@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.BOOTSTRAP)
	@Html.AddStyle("~/Resources/css/shared.css")
	@Html.AddStyle("~/Resources/css/forms.css")
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.JQUERY)
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.BOOTSTRAP)
	@Html.AddScript("~/Resources/js/nucleus-shared.js")
	<merge-stylesheets>
	@Html.RenderStyles()
	</merge-stylesheets>
	<merge-scripts>
	@Html.RenderScripts()
	</merge-scripts>
</head>
<body class="p-2">
	@RenderBody()
</body>
</html>