@*This is the main "view" layout, used when rendering a page  *@
@model Nucleus.ViewFeatures.ViewModels.Layout
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Extensions
@using Nucleus.Extensions.Authorization
<!DOCTYPE html>
<html lang="en">
<head>
	<base href="@Url.Content("~/")" />
	<meta charset="utf-8">
	<meta content="text/html" http-equiv="Content-Type" />
	@if (!String.IsNullOrEmpty(Model.Context.Page.Description))
	{
		<meta name="DESCRIPTION" content="@Model.Context.Page.Description" />
		<meta property="og:description" content="@Model.Context.Page.Description" />
	}
	<meta property="og:site_name" content="@Model.Context.Site.Name" />
	<meta property="og:title" content="@Model.Context.Page.Title" />
	<meta property="og:url" content="@Model.DefaultPageUri" />
	<meta property="og:type" content="website" />
	@if (!String.IsNullOrEmpty(Model.SiteIconPath))
	{
		<link rel="shortcut icon" href="@Model.SiteIconPath">
	}
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta content="text/javascript" http-equiv="Content-Script-Type" />
	<meta content="text/css" http-equiv="Content-Style-Type" />
	<link rel="canonical" href="@Model.DefaultPageUri" />
	<title>@Model.Context.Page.Title</title>
	@Html.AddScript("~/Resources/Libraries/jQuery/03.06.00/jquery.js", false)
	@Html.AddScript("~/Resources/Libraries/Bootstrap/5.2.0/js/bootstrap.bundle.js", false)
	@*
		// the isAsync parameter must be false for nucleus-shared.js.  If async is used, event handlers can be attached after google analytics has attached it's
		// event handlers, which causes <a> elements with data-target attributes to be followed (intermittently) even though they have already been handled by
		// _getPartialContent.
	*@
	@Html.AddScript("~/Resources/js/nucleus-shared.js", false)
	@Html.AddStyle("~/Resources/Libraries/Bootstrap/5.2.0/css/bootstrap.css")
	@Html.AddStyle("~/Resources/css/shared.css")
	@if (Model.IsEditing)
	{
		@Html.AddStyle("~/Resources/css/editmode.css")
	}
	@Html.AddHtmlEditor()
	@RenderSection("styles", false)
	@if (!String.IsNullOrEmpty(Model.SiteCssFilePath))
	{
		@Html.AddStyle(Model.SiteCssFilePath)
		;
	}
	@RenderSection("scripts", false)
	<merge-stylesheets>
		@Html.RenderStyles()
	</merge-stylesheets>
	<merge-scripts>
		@Html.RenderScripts()
	</merge-scripts>
</head>
<body>
	@if (Model.CanEdit)
	{
		<iframe id="AdminFrame" title="Control Panel" accesskey="A" src="@Url.Content("~/Admin/Index/Index")?pageId=@Model.Context.Page.Id" class="Nucleus AdminFrame"></iframe>
		<div class="AdminFramePlaceholder"></div>

		<div class="modal" tabindex="-1">
			<div class="modal-dialog modal-auto-size modal-dialog-scrollable modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Module Settings</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<iframe src="about:blank" title="Settings" class="nucleus-modulesettings-frame"></iframe>
					</div>
				</div>
			</div>
		</div>
	}

	<div class="Nucleus Content">
		@RenderBody()
	</div>

	@if (Model.CanEdit)
	{
		<script type="text/javascript">
			jQuery(document).ready(function ()
			{
				Page.AddEventHandlers('@PermissionExtensions.EDIT_COOKIE_NAME');
			});

			
		</script>
	}
</body>
</html>
