@*This is the main "view" layout, used when rendering a page  *@
@model Nucleus.ViewFeatures.ViewModels.Layout
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Extensions
@using Nucleus.Extensions.Authorization
<!DOCTYPE html>
<html lang="en">
<head>
	<base href="@Url.Content("~/")" />
	<meta charset="utf-8" />	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	@if (!String.IsNullOrEmpty(Model.Context.Page.Description))
	{
		<meta name="DESCRIPTION" content="@Model.Context.Page.Description" />
		<meta property="og:description" content="@Model.Context.Page.Description" />
	}
	<meta property="og:site_name" content="@Model.Context.Site.Name" />
	<meta property="og:title" content="@Model.Context.Page.Title" />
	<meta property="og:url" content="@Model.DefaultPageUri" />
	<meta property="og:type" content="website" />
	@if (!String.IsNullOrEmpty(Model.SiteIconPath))
	{
		<link rel="shortcut icon" href="@Model.SiteIconPath">
	}
	<link rel="canonical" href="@Model.DefaultPageUri" />
	<title>@Model.Context.Page.Title</title>
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.JQUERY)
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.BOOTSTRAP)
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.NUCLEUS_SHARED)
	@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.BOOTSTRAP)
	@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.NUCLEUS_SHARED)
	@if (Model.IsEditing)
	{
		@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.NUCLEUS_EDITMODE)
    @Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.NUCLEUS_EDITMODE)
	}
	@Html.AddHtmlEditor()
	@RenderSection("styles", false)
	@if (!String.IsNullOrEmpty(Model.SiteCssFilePath))
	{
    @Html.AddStyle(Model.SiteCssFilePath, AddStyleHtmlHelper.WellKnownSortOrders.SITE_STYLES_SORT_INDEX)
	}
	@RenderSection("scripts", false)
	@Html.RenderStyles()
	@Html.RenderScripts()
  @Html.RenderWebAssemblies()
</head>
<body class="@Model.ControlPanelDockingCssClass">
  @if (Model.CanEdit)
	{
    <iframe id="nucleus-admin-frame" title="Control Panel" accesskey="A" src="@Url.Content(Model.ControlPanelUri)?pageId=@Model.Context.Page.Id" class="nucleus-admin-frame"></iframe>
		<div class="nucleus-admin-frame-placeholder"></div>

		<modal id="nucleus-popupdialog" title="Module Settings">
			<iframe src="about:blank" title="Settings" class="nucleus-modulesettings-frame"></iframe>
		</modal>
	}

	<div class="nucleus-content">
		@RenderBody()
	</div>

	@if (Model.CanEdit)
	{
		<script>
			jQuery(function ()
			{
        Page.AddEventHandlers('@PermissionExtensions.EDIT_COOKIE_NAME', '@PermissionExtensions.CONTROL_PANEL_DOCKING_COOKIE_NAME');
			});
		</script>
	}
</body>
</html>
