@* This layout is used by the "edit (current) page settings, and the module settings editor popups. *@
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Abstractions
<!DOCTYPE html>
<html lang="en">
<head>
	<base href="@Url.Content("~/")" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Nucleus Editor</title>
	@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.BOOTSTRAP)
	@Html.AddStyle("~/Resources/css/shared.css")
	@Html.AddStyle("~/Resources/css/admin.css")
	@Html.AddStyle("~/Resources/css/forms.css")
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.JQUERY)
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.BOOTSTRAP)
	@Html.AddScript("~/Resources/js/jquery-toggleswitch.js")
	@Html.AddScript("~/Resources/js/jquery-pagelist.js")
	@Html.AddScript("~/Resources/js/nucleus-shared.js")
	@Html.AddScript("~/Resources/js/nucleus-admin.js")
	@Html.AddHtmlEditor()
	<merge-stylesheets>
	@Html.RenderStyles()
	</merge-stylesheets>
	<merge-scripts>
	@Html.RenderScripts()
	</merge-scripts>
</head>
<body>
	<div class="nucleus-adminpage nucleus-admin-content nucleus-settings-frame">
		@RenderBody()
	</div>
	<modal id="nucleus-popupdialog" title="Settings"></modal>
	
	<script>
		jQuery(Page).on("ready.admin", _handleContentLoaded);

		jQuery(document).ready(function ()
		{
			// initialize popup after initial iframe load
			_initializePopup();
		});

		function _handleContentLoaded(e, args)
		{
			// initialize popup after partial content update
			if (args.data !== '')
			{
				_initializePopup();
			}
		}

		function _initializePopup()
		{
			// If the content contains a heading caption, and we are in an iframe, set the iframe title to its content.  
			// InitFrame will automatically set the modal's caption to the iframe title.
			if (window.frameElement)
			{
				var heading = jQuery('.nucleus-modal-caption').first();
				if (heading.length !== 0)
				{
					jQuery(window.frameElement).attr('title', heading.html());
					heading.remove();
				}
			}

			// Set the target of forms to form.parent() if data-target is not already specifed for the form.
			jQuery('form').each(function (index, element)
			{
				element = jQuery(element);

				if (typeof (element.attr('data-target')) === 'undefined' || element.attr('data-target') === '')
				{
					element.attr('data-target', 'form.parent()');
				}
			});

			// Show the modal which contains the popup editor iframe
			if (window.frameElement)
			{
				window.parent.document.dispatchEvent(new CustomEvent('InitFrame', { detail: { element: window.frameElement } }));
			}
		}
	</script>
</body>

</html>
