@* This layout is used by the "edit (current) page settings, and the module settings editor popups. *@
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Abstractions
<!DOCTYPE html>
<html lang="en">
<head>
	<base href="@Url.Content("~/")" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Nucleus Editor</title>
	@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.BOOTSTRAP)
	@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.NUCLEUS_SHARED)
	@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.NUCLEUS_ADMIN)
	@Html.AddStyle(AddStyleHtmlHelper.WellKnownScripts.NUCLEUS_FORMS)
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.JQUERY)
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.BOOTSTRAP)
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.NUCLEUS_TOGGLESWITCH)
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.NUCLEUS_PAGELIST)
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.NUCLEUS_SHARED)
	@Html.AddScript(AddScriptHtmlHelper.WellKnownScripts.NUCLEUS_ADMIN)
	@Html.AddHtmlEditor()
	<merge-stylesheets>
	@Html.RenderStyles()
	</merge-stylesheets>
	<merge-scripts>
	@Html.RenderScripts()
	</merge-scripts>
</head>
<body>
	<div class="nucleus-adminpage nucleus-admin-content nucleus-settings-frame">
		@RenderBody()
	</div>
  @* 
  this modal is for use by settings pages which launch a secondary modal (it is not the one which contains the content above).  It is
  equivalent to the modal rendered by \Areas\Admin\Views\Index\Index.cshtml for the same purpose.
  *@
	<modal id="nucleus-popupdialog" title="Settings"></modal>	
	<script>
		jQuery(Page).on("ready.admin", _handleContentLoaded);

    // initialize popup after initial iframe load
    jQuery(_initializePopup);
		
		function _handleContentLoaded(e, args)
		{
			// initialize popup after partial content update
			if (args.data !== '')
			{
				_initializePopup();
			}
		}

		function _initializePopup()
		{
			// If the content contains a heading caption, and we are in an iframe, set the iframe title to its content.  If the content 
      // contains a help link, set the iframe data-helpurl atrribute to it's href attribute.  nucleus-shared.InitializePopupDialog() uses
      // these values to set the modal's caption and help button link.
			if (window.frameElement)
			{
				var heading = jQuery('.nucleus-modal-caption').first();
				if (heading.length !== 0)
				{
					jQuery(window.frameElement).attr('title', heading.html());
					heading.remove();
				}
        
        var helpLink = jQuery('.nucleus-help-url').first();
        if (helpLink.length !== 0)
        {
          jQuery(window.frameElement).attr('data-helpurl', helpLink.attr('href'));
          helpLink.remove();
        }
			}

			// Set the target of forms to form.parent() if data-target is not already specifed for the form.
			jQuery('form').each(function (index, element)
			{
				element = jQuery(element);

				if (typeof (element.attr('data-target')) === 'undefined' || element.attr('data-target') === '')
				{
					element.attr('data-target', 'form.parent()');
				}
			});

			// Show the modal which contains the popup editor iframe
			if (window.frameElement)
			{
        window.parent.document.dispatchEvent(new CustomEvent('InitializePopupDialog', { detail: { element: window.frameElement } }));
			}
		}
	</script>
</body>
</html>
