@model Nucleus.Web.ViewModels.Admin.FileSystemViewer
@using Nucleus.Abstractions.Models
<h1 class="nucleus-modal-caption">@Model.File.Name</h1>
<div class="d-flex flex-1 overflow-auto">
  <object class="" type="@Model.File.GetMIMEType(false)" data="@Url.FileLink(Model.File, true)" width="@(Model.File.Width?.ToString() ?? "100%")" height="@(Model.File.Height?.ToString() ?? "auto")">
    <p>Your browser can't display <strong>@Model.File.Name</strong>, <a href="@Url.FileLink(Model.File)">click here</a> to download your file.</p>
  </object>
</div>