@model Nucleus.Web.ViewModels.Admin.PageIndex
@using Nucleus.ViewFeatures.HtmlHelpers
<h1>Pages</h1>
<div class="Tools">
	@using (Html.BeginAreaForm("Search", "Pages", "Admin", FormMethod.Post, new { @data_target = ".SearchResults", @autocomplete = "off" }))
	{
		@Html.TextBoxFor(model => model.SearchTerm, new { @data_autopostbackevent = "keydown", @placeholder = "search", @type = "search" })
		<input type="submit" value="&#xe8b6;" class="MaterialIcon" />
	}

	<a href="@Url.Content("~/Admin/Pages/Editor")" class="button" data-target=".PageEditor">New Page</a>
</div>

<div class="SearchResults">

</div>

<div class="IndexWrapper">
	<div class="ItemsList">
		@Html.PageMenu(Model.Pages, @Url.Content("~/Admin/Pages/Editor?id={id}"), Model.PageId, -1, new { data_target = ".PageEditor" })
	</div>

	<div class="PageEditor EditorPanel"></div>
</div>

	@if (Model.PageId != Guid.Empty)
	{
		<script type="text/javascript">
	Page.LoadPartialContent('@Url.Content("~/Admin/Pages/Editor?id=")' + '@Model.PageId', '.PageEditor');
		</script>
	}
