@model Nucleus.Web.ViewModels.Admin.PageEditor
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
<h2>@(String.IsNullOrEmpty(Model.Module.Title) ? "No Title" : @Model.Module.Title) Permissions</h2>
<a class="ClosePopup">&#xe5cd;</a>

@using (Html.BeginAreaForm("SaveModulePermissions", "Pages", "Admin", new { @mid = Model.Module.Id }, FormMethod.Post, new { @data_target = ".AdminPage" }))
{<div class="Tools">
		@Html.DropDownListFor((model) => model.SelectedModuleRoleId, new SelectList(Model.AvailableModuleRoles, "Id", "Name"), new { @class = "flex-fill" })
		<input type="submit" formaction="@Url.AreaAction("AddModulePermissionRole", "Pages", "Admin")?standalone=true" value="Add Role" data-target=".ModuleEditor" />
	</div>

	@*@Html.HiddenFor(model => model.Page.Id)*@
	@Html.HiddenFor(model => model.Module.Id)
	@await Html.PartialAsync("ModulePermissions")

	<div class="ButtonPanel">
		<input type="submit" class="DefaultButton" value="Save Changes" />
	</div>
}


