@model Nucleus.Web.ViewModels.Admin.PageIndex
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Abstractions; 
<div class="Results">
	<a class="CloseResults">&#xe5cd;</a>
	<h2>Search Results</h2>
	<table>
		@foreach (var item in Model.SearchResults)
		{
		<tr>
			<td><a href="@Url.Content("~/Admin/Pages/Editor")?id=@item.Id" data-target=".PageEditor">@item.Name</a></td>
			<td>@(item.Name == item.Title ? "" : item.Title)</td>
			@*<td>@item.Routes.Where(route => route.Id == item.DefaultPageRouteId).FirstOrDefault()?.Path</td>*@
			<td>@item.DefaultPageRoute()?.Path</td>
		</tr>		
		<tr>
			<td colspan="2">@item.Description</td>
		</tr>
		<tr>
			<td colspan="2">Keywords: @item.Keywords</td>
		</tr>
		}
	</table>
</div>