@model Nucleus.XmlDocumentation.ViewModels.Section
@using Nucleus.XmlDocumentation
@using Nucleus.ViewFeatures
@using Nucleus.XmlDocumentation.Models
@using Nucleus.XmlDocumentation.ViewModels
@* Renders documentation for a member (a constructor, property, field, method or event), of a class *@
@if (Model != null && Model.Members?.Any() == true)
{
	<div class="@Model.CssClass">
		<h3 class="is-page-link">@Model.Caption</h3>

    @foreach (var member in Model.Members.OrderBy(item => item.Name))
		{
			<div class="api-member api-member-@(member.Type.ToString().ToLower())">
        <h4 id="@member.ControlId()" class="is-page-link" data-title="@member.Title()" data-title="@member.Title()">
          @member.Name
					@switch (member.Type)
					{
						case ApiMember.MemberTypes.Method:
							var typeName = member.Parameters.GetSimpleParameterTypes();
							if (!String.IsNullOrEmpty(typeName))
							{
                <text>(@typeName) Method</text>
              }
							break;
						case ApiMember.MemberTypes.Constructor:
              var constructorParams = member.Parameters.GetSimpleParameterTypes();
              if (!String.IsNullOrEmpty(constructorParams))
              {
                <text>(@constructorParams) Constructor</text>
              }
							break;
						case ApiMember.MemberTypes.Property:
							<text>Property</text>
							break;
						case ApiMember.MemberTypes.Event:
							<text>Event</text>
							break;
						case ApiMember.MemberTypes.Field:
							break;
					}          
				</h4>
				@switch (member.Type)
				{
					case ApiMember.MemberTypes.Namespace:
					case ApiMember.MemberTypes.Class:
					case ApiMember.MemberTypes.Interface:
					case ApiMember.MemberTypes.Constructor:
						<pre class="code">@member.Name (@member.Parameters)</pre>
						break;
					case ApiMember.MemberTypes.Method:
						<pre class="code">@(!String.IsNullOrEmpty(member.Returns?.Type) ? member.Returns.Type + " " : "")@member.Name (@member.Parameters)</pre>
						break;
				}
				@if (member?.Summary?.Items?.Any() == true)
				{
					<div class="api-summary">
						@await Html.PartialAsync("_RenderMixedContent.cshtml", new MixedContent (Model.Page, member.Summary))
					</div>
				}

				@if (member.Internal != null)
				{
					<div class="alert alert-warning" role="alert">			
						<h3>Internal Use</h3>
						@if (member.Internal?.Items?.Any() == true)
						{
							@await Html.PartialAsync("_RenderMixedContent.cshtml", new MixedContent (Model.Page, member.Internal))
						}
						else
						{
							<div>This @(member.Type.ToString().ToLower()) is marked as internal use only.  Internal use members are not intended for use by extensions, and backward and forward compatibility is not guaranteed.</div>
						}
					</div>
				}

				@if (member?.Values?.Any() == true)
				{
					<div class="api-typeparameters">
						<h5>Values</h5>
						<table class="table">
							@foreach (var value in member.Values)
							{
								<tr>
									<td>@value.Description</td>
								</tr>
							}
						</table>
					</div>
				}

				@if (member?.TypeParams?.Any() == true)
				{
					<div class="api-typeparameters">
						<h5>Type Parameters</h5>
						<table class="table">
							@foreach (var parameter in member.TypeParams)
							{
								<tr>
									<td>@parameter.Name</td>
									<td>@parameter.Description</td>
								</tr>
							}
						</table>
					</div>
				}

				@if (member?.Params?.Any() == true)
				{
					<div class="api-parameters">
						<h5>Parameters</h5>
						<table class="table">
							<tr>
								<th>Name</th>
								<th>Type</th>
							</tr>
							@foreach (var parameter in member.Params)
							{
								<tr>
									<td>
										@parameter.Name
									</td>
									<td>
										@(parameter.IsRef ? "ref " : "")
										@if (!String.IsNullOrEmpty(parameter.Url))
										{
											<a href="@parameter.Url">@parameter.Type</a>
										}
										else
										{
											@parameter.Type
										}

										@if (parameter.Items?.Any() == true)
										{
											<p>
												@await Html.PartialAsync("_RenderMixedContent.cshtml", new MixedContent (Model.Page, parameter))
											</p>
										}
									</td>
									
								</tr>
							}
						</table>
					</div>
				}

				@if (member?.Events?.Any() == true)
				{
					<div class="api-events">
						@foreach (var eventInfo in member.Events)
						{
							@if (eventInfo.Uri != null)
							{
								<mark><a href="@(eventInfo.Uri.IsAbsoluteUri ? eventInfo.Uri.ToString() : Url.PageLink(Model.Page, eventInfo.Uri.ToString()))">@eventInfo.Description</a></mark>
							}
							else
							{
								<div>@eventInfo.Description.FilterXMLWhiteSpace()</div>
							}
						}
					</div>
				}

				@if (member?.Exceptions?.Any() == true)
				{
					<div class="api-exceptions">
						@foreach (var exception in member.Exceptions)
						{
							@if (exception.Uri != null)
							{
								<mark><a href="@(exception.Uri.IsAbsoluteUri ? exception.Uri.ToString() : Url.PageLink(Model.Page, exception.Uri.ToString()))">@exception.Description</a></mark>
							}
							else
							{
								<div>@exception.Description.FilterXMLWhiteSpace()</div>
							}
						}
					</div>
				}

				@if (member?.Returns?.Items?.Any() == true)
				{
					<div class="api-returns">
						<h5>Returns</h5>
						<div>@await Html.PartialAsync("_RenderMixedContent.cshtml", new MixedContent (Model.Page, member.Returns))</div>
					</div>
				}

				@if (member?.Examples?.Any() == true)
				{
					<div class="api-examples">
						<h5>Examples</h5>
						@foreach (var example in member.Examples)
						{
							<code>@example.FilterXMLWhiteSpace()</code>
						}
					</div>
				}

				@if (member?.Remarks?.Items?.Any() == true)
				{
					<div class="api-remarks">
						<h5>Remarks</h5>
						<div>
							@await Html.PartialAsync("_RenderMixedContent.cshtml", new MixedContent (Model.Page, member.Remarks))
						</div>
					</div>
				}

				@if (member?.SeeAlso?.Any() == true)
				{
					<div class="api-seealso">
						<h5>See Also</h5>
						@foreach (var seeAlso in member.SeeAlso)
						{
							@if (seeAlso.Uri != null)
							{
								<a class="link-primary" href="@(seeAlso.Uri.IsAbsoluteUri ? seeAlso.Uri.ToString() : Url.PageLink(Model.Page, seeAlso.Uri.ToString()))">@seeAlso.LinkText</a>
							}
							else
							{
								<mark>@seeAlso.CodeReference</mark>
							}
						}
					</div>
				}
			</div>
		}
	</div>
}
