@model Nucleus.ViewFeatures.ViewModels.FileUpload
@if (Model.Enabled)
{
	<span class="btn btn-secondary ms-auto">
		<label>
			<span class="nucleus-material-icon">&#xe2c6</span> Upload File
			<input type="file" name="@Model.ControlName" class="collapse" formaction="@Url.NucleusAction(@Model.ActionName, @Model.ControllerName, @Model.AreaName, @Model.ExtensionName)" accept="@Model.Filter" >			
		</label>
	</span>

	<ProgressBar caption="Uploading file ..." class="UploadProgress"></ProgressBar>
}
else
{
	<span class="btn btn-secondary ms-auto disabled">
		<label>
			<span class="nucleus-material-icon">&#xe2c6</span> Upload File
		</label>
	</span>
}