@model Nucleus.ViewFeatures.ViewModels.FileUpload
@if (Model.Enabled)
{
	<span class="btn btn-secondary ms-auto mt-1">
		<label>
			<span class="nucleus-material-icon">&#xe2c6</span> Upload File
			<input type="file" name="@Model.ControlName" class="collapse" formaction="@Url.NucleusAction(@Model.ActionName, @Model.ControllerName, @Model.AreaName, @Model.ExtensionName)" accept="@Model.Filter" >			
		</label>
	</span>

	<div class="UploadProgress">
		<div>
			<span class="nucleus-material-icon">&#xe2c6</span> Uploading file ...
		</div>
		<div class="progress">
			<div class="progress-bar"role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>		
		</div>
	</div>
}
else
{
	<span class="btn btn-secondary ms-auto mt-1 disabled">
		<label>
			<span class="nucleus-material-icon">&#xe2c6</span> Upload File
		</label>
	</span>
}