@model Nucleus.Web.ViewModels.Admin.UserEditor
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.Extensions;
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models.Configuration
@using (Html.BeginAreaForm("Save", "SystemAdministrators", "Admin", FormMethod.Post, new { @data_target = ".nucleus-adminpage", @autocomplete = "off" }))
{
	<Tab>
		<TabItem target="#user-properties" caption="Properties" active="true"></TabItem>
	</Tab>
	<TabContent>
		<TabPanel id="user-properties" active="true">
			<fieldset role="group" aria-labelledby="heading">
				<h2>Basic Properties</h2>
				@Html.HiddenFor(model => model.User.Id)

				<SettingsControl caption="User Name" helptext="Unique login name used to log in to the site.">
					@Html.TextBoxFor(model => model.User.UserName, new { @maxlength = 256 })
				</SettingsControl>

				@*only show password field for a new user*@
				@if (Model.User.Id == Guid.Empty)
				{
					<SettingsControl caption="Password" helptext="Enter a password for the system administrator.">
						@Html.PasswordFor(model => model.EnteredPassword)
					</SettingsControl>
				}

				@if (!Model.IsCurrentUser)
				{
					<div class="nucleus-flex-fields">
						<SettingsControl caption="Approved" rendermode="LabelLast" class="inner-inline" helptext="Set whether this user is approved.">
							@Html.CheckBoxFor(model => model.User.Approved, new { @class = "ToggleSwitch" })
						</SettingsControl>

						<SettingsControl caption="Verified" rendermode="LabelLast" class="inner-inline" helptext="Set whether this user is verified.">
							@Html.CheckBoxFor(model => model.User.Verified, new { @class = "ToggleSwitch" })
						</SettingsControl>
				</div>
				}

				<div class="alert alert-info">System administrators do not have roles or profile values.</div>
			</fieldset>
		</TabPanel>
	</TabContent>

	<div class="nucleus-button-panel">
		<input type="submit" class="btn btn-primary" value="Save Changes" />
		@if (Model.User.Id != Guid.Empty && !Model.IsCurrentUser)
		{
			<input type="submit" class="btn btn-danger" value="Delete User" formaction="@Url.AreaAction("DeleteUser", "Users", "Admin")" data-confirm="Delete this user?" />
		}
	</div>
}

<div class="UserEditor">

</div>
