@model Nucleus.DNN.Migration.ViewModels.Index
@Html.AddStyle("~!/../index.css")
@Html.AddScript("~!../index.js")
<h2 class="nucleus-control-panel-heading">DNN Migration</h2>
<div class="dnn-migration">
  @if (Model.Version == null)
  {
    <div class="alert alert-warning">
      <h2>Database Connection not Configured</h2>
      In order to use the DNN Migration tool, you must edit your databaseSettings.{environment}.json file, and add connection
      information for your DotNetNuke database, with a schema key named "DNN".
    </div>
  }
  else
  {
    <div class="alert alert-primary">
      <h2>DotNetNuke</h2>
      <div>
        Connected to DotNetNuke: @Model.ConnectionString
      </div>
      <div>
        DotNetNuke Version: @Model.Version
      </div>
    </div>

    @using (Html.BeginForm())
    {
      <div>
        <h3>Select Source Portal</h3>
        @Html.DropDownListFor(model => model.PortalId, new SelectList(Model.Portals, "PortalId", "PortalName"), "(select)", new(){} )
      </div>

      <ol>
        <li>
          <div>
            <button type="submit" formaction="@Url.NucleusAction("RolesIndex", "DNNMigration", "DNNMigration")" class="btn btn-primary nucleus-show-progress nucleus-show-progress-after" data-target="#MigrateRoles">Roles</button>
          </div>
          <div class="action-description">Migrate roles and role groups from DNN.</div>
        </li>

        <li>
          <div>
            <button type="submit" formaction="@Url.NucleusAction("ListsIndex", "DNNMigration", "DNNMigration")" class="btn btn-primary nucleus-show-progress nucleus-show-progress-after" data-target="#MigrateLists">Lists</button>
          </div>
          <span class="action-description">Migrate lists from DNN.</span>
        </li>

        <li>
          <div>
            <button type="submit" formaction="@Url.NucleusAction("PagesIndex", "DNNMigration", "DNNMigration")" class="btn btn-primary nucleus-show-progress nucleus-show-progress-after" data-target="#MigratePages">Pages</button>
          </div>
          <div class="action-description">Migrate pages, page modules and content (html, documents, links, blogs, forums) from DNN.</div>
        </li>

        <li>
          <div>
            <button type="submit" formaction="@Url.NucleusAction("UsersIndex", "DNNMigration", "DNNMigration")" class="btn btn-primary nucleus-show-progress nucleus-show-progress-after" data-target="#MigrateUsers">Users</button>
          </div>
          <div class="action-description">Migrate users and user-role memberships from DNN.</div>
        </li>

        <li class="border-top border-primary border-1 pt-3">
          <div>
            <button type="submit" formaction="@Url.NucleusAction("ForumsIndex", "DNNMigration", "DNNMigration")" class="btn btn-primary nucleus-show-progress nucleus-show-progress-after" data-target="#MigrateForums">Forums Content</button>
          </div>
          <div>
            <div class="action-description">Migrate forum posts and attachments from DNN.</div>
            <div class="action-remarks">When you migrate pages, we migrate forum groups and empty forums along with their settings.  This step is used to copy forum posts and attachments.  This step should be run after migrating roles, pages and users.</div>
          </div>
        </li>

        <li class="border-top border-primary border-1 pt-3">
          <div>
            <button type="submit" formaction="@Url.NucleusAction("PasswordResetNotificationIndex", "DNNMigration", "DNNMigration")" class="btn btn-primary nucleus-show-progress nucleus-show-progress-after" data-target="#PasswordResetNotification">Send Password Reset</button>
          </div>
          <div>
            <div class="action-description">Send password reset notification emails.</div>
            <div class="action-remarks">
              When you migrate users, the user accounts are un-verified, and have no password set, so the user cannot log in.  This step generates a password reset token and sends a
              notification by email so that your migrated users can set a password.
            </div>
          </div>
        </li>
      </ol>
    }
    <modal id="MigrateRoles" title="Migrate Roles"></modal>
    <modal id="MigrateLists" title="Migrate Lists"></modal>
    <modal id="MigratePages" title="Migrate Pages"></modal>
    <modal id="MigrateUsers" title="Migrate Users"></modal>
    <modal id="MigrateForums" title="Migrate Forums"></modal>
    <modal id="PasswordResetNotification" title="Send Password Reset Notifications"></modal>    
  }
</div>