@model Nucleus.OAuth.Server.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
<h2 class="nucleus-control-panel-heading">OAuth Client App Settings</h2>
@Html.AddStyle("~!/../settings.css")
@using (Html.BeginNucleusForm("Settings", "OAuthServerAdmin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
	<fieldset role="group" aria-label="Settings">
		@Html.HiddenFor(model => model.ClientApp.Id)		
		<SettingsControl caption="API Key" helptext="Select the API key for this Client App, or leave set to 'create' to automatically create a new one.">
			@Html.DropDownListFor(model => model.ClientApp.ApiKey.Id, new SelectList(Model.ApiKeys, "Id", "Name"), "(create)", new { @class = "api-key"} )
		</SettingsControl>

		<SettingsControl caption="API Key Id" helptext="Copy this Id to send to OAuth clients.">
			<button class="copy-api-key-id nucleus-material-icon btn btn-none align-self-end position-absolute fs-small" type="button" title="Copy to Clipboard">&#xe14d;</button>
			<span class="api-key-text fs-6">@Model.ClientApp.ApiKey.Id</span>
		</SettingsControl>

		<SettingsControl caption="Title" helptext="Client App Title.">
			@Html.TextBoxFor(model => model.ClientApp.Title)			
		</SettingsControl>
			
		<SettingsControl caption="Token Lifetime (minutes)" helptext="OAuth2 token lifetime in minutes. ">
			@Html.TextBoxFor(model => model.ClientApp.TokenExpiryMinutes)
		</SettingsControl>

		<SettingsControl caption="Redirect Uri" helptext="Enter one or more Redirect Uri values separated by new lines.">
			@Html.TextAreaFor(model => model.ClientApp.RedirectUri, new { @rows = 4 })
		</SettingsControl>

		<SettingsControl caption="Login Page" helptext="Login Page for this client App.  Leave this set to 'Site Default' if you want to use the configured login page for this site, or select a custom login page for the Client App.">
			@Html.PageListFor(model => model.ClientApp.LoginPage, Model.Pages, Guid.Empty, "(site default)", new {})
		</SettingsControl>
	</fieldset>

	<div class="nucleus-control-panel-heading">
		@Html.SubmitButton("", "Save Settings", @Url.NucleusAction("SaveSettings", "OAuthServerAdmin", "OAuthServer"), new { @data_target = ".nucleus-admin-content" })				
	</div>
}

<script>
	$(document).ready(function() 
	{
		jQuery('.api-key').on('change', function() 
		{
			jQuery('.api-key-text').html(jQuery('.api-key').val());
		});

		jQuery('.copy-api-key-id').on('click', function ()
		{
			Page.CopyToClipboard(jQuery('.api-key-text'));
			return false;
		});

		// Read the child pages of the item containing the "+" button
		jQuery('.nucleus-page-list').on('click', '.nucleus-get-childpages', function (e)
		{
			// Add a ul to contain the new pages
			Page.LoadPartialContent(e, '@Url.NucleusAction("GetChildPages", "OAuthServerAdmin", "OAuthServer")' + '?id=' + jQuery(this).attr('data-id'), jQuery(this).closest('li'));

			// hide the "+" button
			jQuery(this).removeClass('show');

		});
				
		// Hide the child pages of the item containing the "-" button
		jQuery('.nucleus-page-list').on('click', '.nucleus-hide-childpages', function (e)
		{
			// hide the "-" button
			jQuery(this).removeClass('show');

			// show the "+" button
			jQuery(this).siblings('.nucleus-get-childpages').addClass('show');

			jQuery(this).closest('li').find('ul').remove();
		});
	});



</script>
