@model Nucleus.OAuth.Server.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
@Html.AddStyle("~!/../settings.css")
<div>
	@using (Html.BeginNucleusForm("Settings", "OAuthServerAdmin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
	{
		<fieldset role="group" aria-labelledby="heading">
			<h2>Settings</h2>
			<div class="nucleus-flex-fields">
				@*<SettingsControl caption="Categories List" helptext="Select the list to use for categories for this module instance.  Lists are managed in the Nucleus Lists manager.">
					@Html.DropDownListFor(model => model.CategoryList.Id, new SelectList(Model.Lists, "Id", "Name"), "(not selected)")
				</SettingsControl>
				<SettingsControl caption="Layout" helptext="Display layout.">
					@Html.DropDownListFor(model => model.Layout, new SelectList(Model.Layouts))
				</SettingsControl>*@
			</div>

			<div class="Tools">
				@Html.SubmitButton("", "Save Settings", @Url.NucleusAction("SaveSettings", "Admin", "OAuthServerAdmin"), new { })				
			</div>
		</fieldset>
	}
</div>
