@model Nucleus.Modules.Forums.ViewModels.Viewer
@using Nucleus.Abstractions
@using Nucleus.ViewFeatures
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.Modules.Forums.ViewModels
@Html.AddStyle("~!/../viewer.css")
<div class="forums">
	@foreach (var group in Model.Groups)
	{
		<table>
			<tr>
				<th>@group.Name</th>
			</tr>
			<tr>
				<th>Forum Name</th>
				<th>Posts</th>
				<th>Replies</th>
				<th>Most Recent</th>
			</tr>
			@foreach (var forum in group.Forums)
			{
				<tr>
					<td>
						<a href="@forum.Name">@forum.Name</a>
						@if (!String.IsNullOrEmpty(forum.Description))
						{
							<div>@forum.Description</div>
						}
					</td>
					<td>@forum.Statistics.PostCount</td>
					<td>@forum.Statistics.ReplyCount</td>
					<td>
						@if (forum.Statistics.LastPost != null)
						{
							@forum.Statistics.LastPost.Subject
							@forum.Statistics.LastPost.PostedBy
							@forum.Statistics.LastPost.DateAdded
						}
					</td>
				</tr>
			}
		</table>
	}
</div>