@model Nucleus.Modules.ContactUs.ViewModels.Settings
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions.Models
@Html.AddStyle("~#/settings.css")
<h2 class="nucleus-control-panel-heading">Settings</h2>
@using (Html.BeginNucleusForm("SaveSettings", "ContactUsAdmin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
  <div class="flex-grow-1">
    <fieldset role="group" aria-label="General Settings">
      <SettingsControl caption="Send To Recipients" helptext="Specifies one or more recipients (email addresses) for messages. Multiple email address are comma-separated.">
        @Html.TextAreaFor(model => model.SendTo, new { @rows = 2 })
      </SettingsControl>

      <div class="nucleus-flex-fields">
        <SettingsControl caption="Categories List" helptext="Select the list to use for categories for this module instance.  Lists are managed in the Nucleus Lists manager.">
          @Html.DropDownListFor(model => model.CategoryListId, new SelectList(Model.Lists, "Id", "Name"), "(not selected)")
        </SettingsControl>

        <SettingsControl caption="Mail Template" helptext="Email template used to generate email messages.">
          @Html.DropDownListFor(model => model.MailTemplateId, new SelectList(Model.MailTemplates, "Id", "Name"), "(not selected)")
        </SettingsControl>
      </div>

      <div class="nucleus-flex-fields">
        <div class="ShowSetting">
          <h2 class="flex-grow-1">Visibility</h2>
          <SettingsControl caption="Show Name?" class="inner-inline" rendermode="LabelLast" helptext="Show the first name and last name fields.">
            @Html.CheckBoxFor(model => model.ShowName, new { @class = "ToggleSwitch" })
          </SettingsControl>

          <SettingsControl caption="Show Phone Number?" class="inner-inline" rendermode="LabelLast" helptext="Show the phone number field.">
            @Html.CheckBoxFor(model => model.ShowPhoneNumber, new { @class = "ToggleSwitch" })
          </SettingsControl>

          <SettingsControl caption="Show Company?" class="inner-inline" rendermode="LabelLast" helptext="Show the company name field.">
            @Html.CheckBoxFor(model => model.ShowCompany, new { @class = "ToggleSwitch" })
          </SettingsControl>

          <SettingsControl caption="Show Category?" class="inner-inline" rendermode="LabelLast" helptext="Show the category field.">
            @Html.CheckBoxFor(model => model.ShowCategory, new { @class = "ToggleSwitch" })
          </SettingsControl>

          <SettingsControl caption="Show Subject?" class="inner-inline" rendermode="LabelLast" helptext="Show the subject field.">
            @Html.CheckBoxFor(model => model.ShowSubject, new { @class = "ToggleSwitch" })
          </SettingsControl>
        </div>

        <div class="RequireSetting">
          <h2 class="flex-grow-1">Required</h2>
          <SettingsControl caption="Require Name?" class="inner-inline" rendermode="LabelLast" helptext="Specify whether the first name and last name fields are mandatory.">
            @Html.CheckBoxFor(model => model.RequireName, new { @class = "ToggleSwitch" })
          </SettingsControl>

          <SettingsControl caption="Require Phone Number?" class="inner-inline" rendermode="LabelLast" helptext="Specify whether the phone number field is mandatory.">
            @Html.CheckBoxFor(model => model.RequirePhoneNumber, new { @class = "ToggleSwitch" })
          </SettingsControl>

          <SettingsControl caption="Require Company?" class="inner-inline" rendermode="LabelLast" helptext="Specify whether the company name field is mandatory.">
            @Html.CheckBoxFor(model => model.RequireCompany, new { @class = "ToggleSwitch" })
          </SettingsControl>

          <SettingsControl caption="Require Category?" class="inner-inline" rendermode="LabelLast" helptext="Specify whether the phone number field is mandatory.">
            @Html.CheckBoxFor(model => model.RequireCategory, new { @class = "ToggleSwitch" })
          </SettingsControl>

          <SettingsControl caption="Require Subject?" class="inner-inline" rendermode="LabelLast" helptext="Specify whether the subject field is mandatory.">
            @Html.CheckBoxFor(model => model.RequireSubject, new { @class = "ToggleSwitch" })
          </SettingsControl>
        </div>
      </div>
    </fieldset>

    <fieldset role="group" aria-label="reCAPTCHA Settings">
      <div class="alert alert-info mt-3">
        <h3 class="mt-0">Google reCAPTCHA</h3>
        <p>The Google reCAPTCHA service protects your contact page from abuse.</p>
        <a href="https://cloud.google.com/security/products/recaptcha" target="_blank" class="">About Google reCAPTCHA</a>
      </div>

      <SettingsControl caption="Enable reCAPTCHA?" rendermode="LabelLast" class="inner-inline EnableRecaptcha" helptext="Enable reCAPTCHA to protect your contact form from abuse.">
        @Html.CheckBoxFor(model => model.RecaptchaEnabled, new { @class = "ToggleSwitch" })
      </SettingsControl>

      <div class="RecaptchaSettings">
        <SettingsControl caption="reCAPTCHA Site Key" helptext="Specifies your reCAPTCHA site key. Visit https://www.google.com/recaptcha/admin/create to create a site key.">
          @Html.TextBoxFor(model => model.RecaptchaSiteKey)
        </SettingsControl>

        <div class="nucleus-flex-fields">
          <SettingsControl caption="reCAPTCHA Secret Key" helptext="Specifies your reCAPTCHA secret key." class="flex-grow-2">
            @Html.PasswordFor(model => model.RecaptchaSecretKey, new { value = (Model.IsSecretKeySet ? Nucleus.Modules.ContactUs.ViewModels.Settings.DUMMY_PASSWORD : "") })
          </SettingsControl>

          <SettingsControl caption="reCAPTCHA Action" helptext="Specifies your reCAPTCHA action. Use only alphanumeric characters, slashes, and underscore. This is used in the reCAPTCHA admin console for reporting and for adaptive risk analysis. Recommended value: contact_us." class="flex-grow-2">
            @Html.TextBoxFor(model => model.RecaptchaAction)
          </SettingsControl>

          <SettingsControl caption="reCAPTCHA Score Threshold" helptext="Specifies the minimum required reCAPTCHA interaction score. A value of 0 permits all messages, while a value of 1 blocks all messages. The default setting is 0.5.">
            @Html.TextBoxFor(model => model.RecaptchaScoreThreshold, new { @type = "number", @inputmode = "decimal", @min = "0.0", @max = "1.0", @step = "0.1" })
          </SettingsControl>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="nucleus-form-buttonrow">
    @Html.SubmitButton("", "Save Settings", @Url.NucleusAction("SaveSettings", "ContactUsAdmin", "ContactUs"), new { })
  </div>
}
<script>
  ContactUs_ShowSettings();

  jQuery('.EnableRecaptcha input[type=checkbox]').on('change', ContactUs_ShowSettings);

  function ContactUs_ShowSettings()
  {
    if (jQuery('.EnableRecaptcha input[type=checkbox]').is(':checked'))
    {
      jQuery('.RecaptchaSettings').css('opacity', '1.0');
      jQuery('.RecaptchaSettings *').removeAttr('disabled');
    }
    else
    {
      jQuery('.RecaptchaSettings').css('opacity', '0.25');
      jQuery('.RecaptchaSettings *').attr('disabled', 'disabled');
    }
  }
</script>