@model Nucleus.Web.ViewModels.Admin.FileSystemDelete
@using Nucleus.Abstractions.Models.FileSystem
@using Nucleus.ViewFeatures
@using Nucleus.Abstractions
@addTagHelper "*, Nucleus.ViewFeatures"
@using Nucleus.ViewFeatures.HtmlHelpers
<h2 class="nucleus-modal-caption">Delete</h2>
@using (Html.BeginAreaForm("DeleteSelected", "FileSystem", "Admin", FormMethod.Post, new { @data_target = ".nucleus-adminpage" }))
{
	<p>Delete selected files and folders?</p>

	<div class="nucleus-form-tools">
		<input type="submit" value="Delete" class="btn btn-danger" formaction="@Url.AreaAction("DeleteSelected", "FileSystem", "Admin")" data-target=".nucleus-adminpage" />
	</div>
	@Html.HiddenFor(model => Model.Folder.Id)

	for (var folderCount = 0; folderCount < Model.SelectedFolders.Count; folderCount++)
	{
		@Html.HiddenFor(model => Model.SelectedFolders[folderCount].IsSelected)
		@Html.HiddenFor(model => Model.SelectedFolders[folderCount].Id)
	}

	for (var fileCount = 0; fileCount < Model.SelectedFiles.Count; fileCount++)
	{
		@Html.HiddenFor(model => Model.SelectedFiles[fileCount].IsSelected)
		@Html.HiddenFor(model => Model.SelectedFiles[fileCount].Id)
	}

}